Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:cfd, build_tool:teaser

Path conditions:
  build_env:master: any of: MainLib/envBase.Dockerfile, MainLib/requirements.txt
  build_env:ubuntu_base: any of: Environment/envBase.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:development: any of: MainLib/envBase.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: PluginEnergyPlus/envEP.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: PluginCFD/envCFD.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: PluginTEASER/envTEASER.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: PluginCFD/*
  build_tool:teaser: any of: PluginTEASER/*

refactor imports of teaser
  PluginTEASER/bim2sim_teaser/task/export_teaser.py
Due: none

try to fix imports of teaser
  .gitlab-ci.yml
  MainLib/envBase.Dockerfile
  PluginTEASER/bim2sim_teaser/task/export_teaser.py
Due: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

add tests again
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

test underfloorheating aggregation
  MainLib/bim2sim/task/hvac/hvac.py
Due: none

new check functions implemented to underfloorheating
  MainLib/bim2sim/kernel/aggregation.py
Due: none

new underfloor heating structure, subdivided functions used on check_conditions
  MainLib/bim2sim/kernel/aggregation.py
Due: none

preparing for merge request
  MainLib/bim2sim/kernel/aggregation.py
  MainLib/bim2sim/task/hvac/hvac.py
Due: none

attributes in aggregation enhanced
  MainLib/bim2sim/kernel/aggregation.py
Due: none

new attribute added to underfloor heating (necessary outputs)
  MainLib/bim2sim/kernel/aggregation.py
Due: none

two attribute to aggregation.py added
  MainLib/bim2sim/kernel/aggregation.py
Due: none

improvised integration of pyvis
  .gitlab-ci.yml
  MainLib/bim2sim/kernel/hvac/assets/plotting/pyvis_options.json
  MainLib/bim2sim/kernel/hvac/hvac_graph.py
  MainLib/requirements.txt
  MainLib/test/unit/kernel/aggregation/test_consumer.py
  MainLib/test/unit/kernel/aggregation/test_generator.py
  MainLib/test/unit/kernel/aggregation/test_parallelpumps.py
  myexample.html
  test.html
Due: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

add new line to trigger CI
  MainLib/bim2sim/task/common/common.py
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

first approach to ufh test
  MainLib/test/unit/kernel/aggregation/test_underfloorheating.py
  MainLib/test/unit/kernel/helper.py
Due: none

Ufh attributes restructure
  MainLib/bim2sim/kernel/aggregation.py
Due: none

feat: implement visualize functions based on veronikas code
  MainLib/bim2sim/task/bps/bind_tz.py
  MainLib/bim2sim/task/bps/visualize_spaces.py
  MainLib/bim2sim/utilities/visualize_spaces.py
  PluginTEASER/bim2sim_teaser/test/ap7_testing/ap7_cases.py
Due: none

feat: visualization is working
  MainLib/bim2sim/task/bps/bind_tz.py
  MainLib/bim2sim/utilities/visualize_spaces.py
  MainLib/requirements.txt
  PluginTEASER/requirements.txt
Due: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:teaser

add pyqt5 to requirements
  MainLib/requirements.txt
Due: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

reformat
  MainLib/bim2sim/utilities/visualize_spaces.py
Due: none

feat: change repr and str for products
  MainLib/bim2sim/kernel/element.py
  MainLib/bim2sim/kernel/elements/bps.py
  MainLib/bim2sim/kernel/elements/hvac.py
Due: none

feat: improved visualization with legend
  MainLib/bim2sim/utilities/visualize_spaces.py
Due: none

place fonts in mainlib assets until we have a way to access plugin assets
  MainLib/bim2sim/assets/fonts/arial.ttf
  MainLib/bim2sim/assets/fonts/cmunrm.ttf
Due: none

feat: finish visualization of spaces for now (future work marked with todo)
  MainLib/bim2sim/task/bps/bind_tz.py
  MainLib/bim2sim/utilities/visualize_spaces.py
Due: none

complete documentation for rgb color
  MainLib/bim2sim/utilities/visualize_spaces.py
Due: none

add pillow to requirements
  MainLib/requirements.txt
Due: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

add pillow to requirements
  MainLib/requirements.txt
  PluginTEASER/bim2sim_teaser/test/ap7_testing/ap7_cases.py
Due: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

add pillow to requirements
  PluginTEASER/requirements.txt
Due: build_tool:teaser

move pillow, pyqt5 to TEASER requirements
  MainLib/requirements.txt
  PluginTEASER/requirements.txt
Due: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:teaser

remove dockerhost variable (included in runner now)
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

update documentation build
  .gitignore
  .gitlab-ci.yml
  docs/requirements.txt
  docs/source/advanced.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.md
  docs/source/quick-start.md
  docs/source/run_livereload.py
  docs/source/writing-your-own-plugin.md
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Update envTEASER.Dockerfile to install TEASER specific requirements in docker image
  PluginTEASER/envTEASER.Dockerfile
Due: build_env:teaser, build_tool:teaser

document module before submodules
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Update requirements.txt
  PluginTEASER/requirements.txt
Due: build_tool:teaser

add doctest
  docs/source/conf.py
Due: none
