Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

build_env:master:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:development:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:dymola:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:energyplus:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:energyplus_workshop:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:cfd:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:teaser:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:teaser-dymola:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:aixlib:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

test_Base:
  image: $CI_REGISTRY/environment:development
  stage: test
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  - pip install coverage
  - pip install coverage-badge
  script:
  - mv ./* /bim2sim-coding/
  ...

Update submodule of test resources
  .gitmodules
Due: none

Update testing.md
  docs/source/developer-guide/testing.md
Due: none

only run image build with -C flag
  .gitlab-ci.yml
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

disalbe includes as well
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

enable other jobs but run build first
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

use -C
  EnergyPlus.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
Due: none

use wget instead of curl
  EnergyPlus.Dockerfile
Due: none

Added TCP functionality in main Startup and IFC Path reception.
  bim2sim/__main__.py
  bim2sim/examples/e2_interactive_project_tcp.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Set up documentation for PluginOpenFOAM
  docs/source/advanced-user-guide/concepts/sim_settings.md
  docs/source/user-guide.md
  docs/source/user-guide/PluginOpenFOAM.md
Due: none

update lca
  bim2sim/plugins/PluginLCA/bim2sim_lca/task/calculate_lca_ventilation_system.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

implement ChoiceSetting
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

introduce PathSetting
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

introduce GuidSetting; fix copy/paste function name
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

remove spare check
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

fix ChoiceSettingPydantic
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

start switching to pydantic settings; fix NumberSettingPydantic
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

switching to pydantic settings
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/sim_settings.py
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

switch to pydantic settings; remove old implementations; fix ChoiceSetting
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/sim_settings.py
  bim2sim/project.py
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

add implementation for mandatory fields
  bim2sim/project.py
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

alter plugin settings to use value instead of default; enable disabled tasks for TEASER plugin
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/sim_settings.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/sim_settings.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/sim_settings.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/__init__.py
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

fix settings unit tests
  test/unit/test_sim_settings.py
Due: none

fix more settings unit tests; fix project unit tests
  bim2sim/project.py
  bim2sim/sim_settings.py
  test/unit/test_sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:energyplus_workshop: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  test_Base: any of: bim2sim/**/*.py
  test_EP: any of: bim2sim/**/*.py
  test_EP_regression: any of: bim2sim/**/*.py
  test_TEASER: any of: bim2sim/**/*.py
  test_TEASER_regression: any of: bim2sim/**/*.py
  test_CFD: any of: bim2sim/**/*.py
  test_AixLib: any of: bim2sim/**/*.py
  test_LCA: any of: bim2sim/**/*.py
  pylint: any of: bim2sim/**/*.py
