Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:development, build_env:energyplus, build_env:master

build_env:development:
  image: docker:latest
  stage: build
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:development -f Environment/Dockerfile_Base .
  - docker push $CI_REGISTRY/environment:development

build_env:energyplus:
  image: docker:latest
  stage: build
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:energyplus -f Environment/Dockerfile_EP .
  - docker push $CI_REGISTRY/environment:energyplus

build_env:master:
  image: docker:latest
  stage: build
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:master -f Environment/Dockerfile_Base .
  - docker push $CI_REGISTRY/environment:master

fix:take multiple storages into account for ground floor area calc #!127
  MainLib/bim2sim/kernel/elements/bps.py
Due: none

re add the property based arguments for net_area and gross_area #!127
  MainLib/bim2sim/kernel/elements/bps.py
Due: none

Merge AP7 EP Changes to clean branch
  MainLib/bim2sim/assets/enrichment/usage/UseConditionsFM_ARC_DigitalHub_fixed002.json
  MainLib/bim2sim/assets/enrichment/usage/customUsagesFM_ARC_DigitalHub_fixed002.json
  MainLib/bim2sim/kernel/elements/bps.py
  MainLib/bim2sim/task/common/inner_loop_remover.py
  MainLib/bim2sim/workflow.py
  PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  PluginEnergyPlus/bim2sim_energyplus/task/ep_geom_preprocessing.py
  PluginEnergyPlus/bim2sim_energyplus/task/ep_idf_cfd_export.py
  PluginEnergyPlus/test/ap7_testing/__init__.py
  PluginEnergyPlus/test/ap7_testing/ap7_cases.py
  PluginEnergyPlus/test/integration_test/test_integration.py
Due: none

Hotfix for convex shadings (triangulation fails for one bound)
  PluginEnergyPlus/bim2sim_energyplus/task/ep_geom_preprocessing.py
Due: none

Set ground temperature
  PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  PluginEnergyPlus/test/ap7_testing/ap7_cases.py
  PluginEnergyPlus/test/integration_test/test_integration.py
Due: none

feat: refactor space volume for better understanding
  MainLib/bim2sim/assets/finder/template_base.json
  MainLib/bim2sim/kernel/elements/bps.py
  PluginEnergyPlus/bim2sim_energyplus/task/ep_idf_postprocessing.py
Due: none

fix: remove is_external from all templates as this is not reliable
  MainLib/bim2sim/assets/finder/template_ARCHICAD-64.json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2018 (DEU).json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2019 (DEU).json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2019 (ENU).json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2020 (DEU).json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2020 (ENU).json
Due: none

feat: use net_area for thermalzone export in teaser
  MainLib/bim2sim/assets/finder/template_base.json
Due: none

fix: add units to new volume attributes
  MainLib/bim2sim/kernel/elements/bps.py
Due: none

fix: remove volume attribute (function already removed)
  MainLib/bim2sim/kernel/elements/bps.py
Due: none

fix: refactor volume to net_volume in aggregations as well
  MainLib/bim2sim/kernel/aggregation.py
Due: none

fix: reformat json (remove false syntax)
  MainLib/bim2sim/assets/finder/template_ARCHICAD-64.json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2018 (DEU).json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2019 (DEU).json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2019 (ENU).json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2020 (DEU).json
  MainLib/bim2sim/assets/finder/template_Autodesk Revit 2020 (ENU).json
Due: none

fix: refactor space volume -> space_shape_volume in create idf file
  PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

add submodules for TEASER and AixLib
  .gitmodules
Due: none

start of integration of simulation task
  MainLib/bim2sim/task/bps/export_teaser.py
  MainLib/bim2sim/workflow.py
  PluginTEASER/__init__.py
  PluginTEASER/bim2sim_teaser/task/__init__.py
  PluginTEASER/bim2sim_teaser/task/simulate_dymola.py
  PluginTEASER/bim2sim_teaser/teaser.py
  PluginTEASER/test/__init__.py
  PluginTEASER/test/ap7_testing/__init__.py
  PluginTEASER/test/ap7_testing/ap7_cases.py
  PluginTEASER/test/integration_test_setup.py
Due: none

feat: task for simulation done, t.b.d: workflows
  MainLib/bim2sim/project.py
  MainLib/bim2sim/task/bps/export_teaser.py
  PluginTEASER/bim2sim_teaser/task/simulate_dymola.py
Due: none

finish simulation task + move export_teaser to plugin
  MainLib/bim2sim/task/bps/__init__.py
  PluginTEASER/bim2sim_teaser/task/__init__.py
  PluginTEASER/bim2sim_teaser/task/export_teaser.py
  PluginTEASER/bim2sim_teaser/teaser.py
  PluginTEASER/test/ap7_testing/ap7_cases.py
Due: none

rename tests
  PluginTEASER/test/ap7_testing/ap7_cases.py
Due: none

refactor path of test
  PluginTEASER/bim2sim_teaser/task/simulate_dymola.py
  PluginTEASER/bim2sim_teaser/test/__init__.py
  PluginTEASER/bim2sim_teaser/test/ap7_testing/__init__.py
  PluginTEASER/bim2sim_teaser/test/ap7_testing/ap7_cases.py
  PluginTEASER/bim2sim_teaser/test/integration_test_setup.py
Due: none

change exception to warning for project name
  MainLib/bim2sim/project.py
Due: none

make dymola simulation run only if workflow.dymola_simulations
  PluginTEASER/bim2sim_teaser/task/simulate_dymola.py
Due: none

remove todo as this is already finished
  MainLib/bim2sim/task/bps/bind_tz.py
Due: none

remove prj_name manipulation again because it leads to errors
  MainLib/bim2sim/project.py
  PluginTEASER/bim2sim_teaser/task/simulate_dymola.py
  PluginTEASER/bim2sim_teaser/test/ap7_testing/ap7_cases.py
Due: none

integrate submodule into gitlab ci
  .gitlab-ci.yml
  PluginTEASER/bim2sim_teaser/task/export_teaser.py
Due: build_env:development, build_env:energyplus

fix: check for correct os name
  PluginCFD/test_cfd/test_cfd_integration.py
Due: none

fix: linux -> posix
  PluginCFD/bim2sim_cfd/task/ifc2cfd.py
Due: none

fix: clear faulty code line
  PluginCFD/bim2sim_cfd/task/ifc2cfd.py
Due: none

move old cfd workflow folder
  PluginCFD/bim2sim_cfd/archived/VisGeomLinux
  PluginCFD/bim2sim_cfd/archived/__init__.py
  PluginCFD/bim2sim_cfd/archived/cfd.py
Due: none

delete obsolete old dockerfile for cfd
  Dockerfile_CFD
Due: none

remove teaser from requirements
  MainLib/requirements.txt
Due: build_env:development, build_env:energyplus, build_env:master

add dockerfile for teaser environment + pythonpath teaser submodule
  PluginTEASER/envTEASER.Dockerfile
Due: none

add explicit CI jobs for teaser
  .gitlab-ci.yml
  PluginTEASER/bim2sim_teaser/test/integration_test/__init__.py
  PluginTEASER/bim2sim_teaser/test/integration_test/test_integration.py
  PluginTEASER/teaser.Dockerfile
Due: build_env:development, build_env:energyplus

uncomment teaser coverage job until environment image was build
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus

readd teaser coverage
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus

add pandas to base requirements (was missing and only loaded due to teaser before)
  MainLib/requirements.txt
Due: build_env:development, build_env:energyplus, build_env:master

hotfix: remove coverage temporary to build new image
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus

hotfix: add coverage again
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus

refactor to local teaser imports
  PluginTEASER/bim2sim_teaser/task/export_teaser.py
Due: none

remove tests to build new environment file
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus

add local teaser install to environment variables of base image
  MainLib/envBase.Dockerfile
Due: none

Path conditions:
  build_env:development: any of: Environment/Dockerfile_Base, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: Environment/Dockerfile_Base, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:master: any of: Environment/Dockerfile_Base, MainLib/requirements.txt
