Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:cfd, build_tool:teaser

build_env:master:
  image: docker:latest
  stage: build-env
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:master -f envBase.Dockerfile .
  ...

build_env:development:
  image: docker:latest
  stage: build-env
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:development -f envBase.Dockerfile .
  ...

build_env:energyplus:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:cfd:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:cfd -f bim2sim/plugins/PluginCFD/envCFD.Dockerfile .
  ...

build_env:teaser:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:teaser -f bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile .
  ...

build_tool:cfd:
  image: docker:latest
  stage: build-tool
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/tool:cfd -f bim2sim/plugins/PluginCFD/cfd.Dockerfile .
  ...

build_tool:teaser:
  image: docker:latest
  stage: build-tool
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/tool:teaser -f bim2sim/plugins/PluginTEASER/teaser.Dockerfile .
  ...

update doc structure
  docs/source/concepts/aggregations.md
  docs/source/concepts/attribute.md
  docs/source/concepts/decisions.md
  docs/source/concepts/elements.md
  docs/source/concepts/finder.md
  docs/source/concepts/logging.md
  docs/source/concepts/project.md
  docs/source/concepts/tasks.md
  docs/source/concepts/workflow.md
  docs/source/elements.md
  docs/source/index.rst
  docs/source/overview.md
Due: none

add folder for concepts in docs
  docs/source/concepts.md
Due: none

fix path
  docs/source/concepts.md
Due: none

Update meta.yaml
  bld.bat
  build.sh
  conda_recipe/meta.yaml
  environment.yaml
  meta.yaml
  requirements.txt
Due: build_env:master, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Update metal.yaml, build.sh and bld.bat
  README.md
  conda_build_config.yaml
  conda_recipe/bld.bat
  conda_recipe/build.sh
  conda_recipe/meta.yaml
  record.txt
Due: none

Update Readme
  .condarc
  README.md
  conda_recipe/.gitlab-ci.yml
  conda_recipe/meta.yaml
Due: none

Add EnergyPlus Regression files for FZK Haus to Assets
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/workflow.py
Due: none

add empty testmodels folder to download models to in CI
  test/TestModels/.gitkeep
Due: none

unify integration tests and expo
  bim2sim/plugins/PluginAixLib/test/integration_test/test_hvac.py
  bim2sim/plugins/PluginCFD/test/integration_test/test_integration.py
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
  bim2sim/plugins/PluginLCA/test/integration_test/test_integration.py
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
  bim2sim/utilities/test.py
  test/unit/kernel/task/test_inspect.py
  test/unit/kernel/test_finder.py
Due: none

model_path is func, not attribute
  bim2sim/utilities/test.py
Due: none

fix paths
  bim2sim/plugins/PluginAixLib/test/integration_test/test_hvac.py
  bim2sim/plugins/PluginCFD/test/integration_test/test_integration.py
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
  bim2sim/plugins/PluginLCA/test/integration_test/test_integration.py
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
  bim2sim/utilities/test.py
Due: none

correct unzip target folder
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

apply some more fixes to paths
  bim2sim/plugins/PluginAixLib/test/integration_test/test_hvac.py
  bim2sim/plugins/PluginHKESim/test/test_hvac.py
  bim2sim/plugins/PluginTEASER/test/regression_test/test_regression.py
  bim2sim/utilities/test.py
  test/unit/test_project.py
Due: none

try using one ifc to reduce numbers for hvac base tests
  bim2sim/__main__.py
  test/unit/kernel/test_finder.py
  test/unit/test_project.py
Due: none

fix more paths
  test/unit/kernel/task/test_inspect.py
  test/unit/kernel/test_element.py
Due: none

fix ep regression paths
  bim2sim/plugins/PluginEnergyPlus/test/regression_test/test_regression.py
Due: none

delete local regression results and add to git ignore
  .gitignore
  .gitlab-ci.yml
  bim2sim/assets/regression_results/bps/AC20-FZK-Haus/EnergyPlus/decisions.json
  bim2sim/assets/regression_results/bps/AC20-FZK-Haus/EnergyPlus/setup.txt
  bim2sim/assets/regression_results/bps/AC20-FZK-Haus/TEASER/AC20FZKHaus_FZKHaus_FZKHaus.txt
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/backup_annual/decisions.json
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/backup_annual/setup.txt
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/decisions.json
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/setup.txt
  bim2sim/assets/regression_results/bps/ep_diff.config
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

fix aixlib path tests
  test/unit/kernel/task/test_inspect.py
Due: none

fix typo
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

add basic description for how to use tests local
  docs/source/concepts/elements.md
  docs/source/index.rst
  docs/source/testing.md
Due: none

use new test file for aixlib
  bim2sim/plugins/PluginAixLib/test/integration_test/test_hvac.py
Due: none

Add unittests for pyocc tools
  test/unit/utilities/test_pyocc_tools.py
Due: none

Test CI
  .gitlab-ci.yml
  conda_recipe/conda.gitlab-ci.yml
  docker.gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

documentation
  docs/source/concepts.md
  docs/source/concepts/attribute.md
  docs/source/concepts/elements.md
  docs/source/overview.md
  docs/source/testing.md
Due: none

Test CI
  .gitlab-ci.yml
  conda_build_config.yaml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Change .yml
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Test yaml
  conda_recipe/conda.gitlab-ci.yml
Due: none

Update elements.md
  docs/source/concepts/elements.md
Due: none

ci_conda_build
  conda_recipe/conda.gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

create content.zip initial
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Update envAixLib.Dockerfile
  bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile
Due: none

Update envCFD.Dockerfile
  bim2sim/plugins/PluginCFD/envCFD.Dockerfile
Due: build_env:cfd, build_tool:cfd

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
