Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:cfd, build_tool:teaser, build_tool:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

build_env:master:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:development:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:dymola:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME_DYMOLA -p $CI_DEPLOY_TOKEN_PASSWORD_DYMOLA $CI_REGISTRY_LOGIN_DYMOLA
  script:
  ...

build_env:energyplus:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:cfd:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:teaser:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:teaser-dymola:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:aixlib:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_tool:cfd:
  image: docker:24.0.5
  stage: build-tool
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_tool:teaser:
  image: docker:24.0.5
  stage: build-tool
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

initialize test structure for PluginComfort
  bim2sim/plugins/PluginComfort/bim2sim_comfort/test/__init__.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/test/integration/__init__.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/test/regression/__init__.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Update tests
  bim2sim/plugins/PluginComfort/test/__init__.py
  bim2sim/plugins/PluginComfort/test/integration/__init__.py
  bim2sim/plugins/PluginComfort/test/integration/test_comfort.py
  bim2sim/plugins/PluginComfort/test/integration/test_useage.py
  bim2sim/plugins/PluginComfort/test/regression/__init__.py
  bim2sim/plugins/PluginComfort/test/regression/ep_diff_comfort.config
  bim2sim/plugins/PluginComfort/test/regression/test_comfort.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

cleanup examples
  bim2sim/examples/e4_create_svg_floorplan.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/examples/e1_simple_project_bps_energyplus.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/examples/e2_load_simple_project_bps_energyplus.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e1_simple_project_bps_teaser.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e2_complex_project_teaser.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e3_load_teaser_simulation_results.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

remove local file
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/svg_adjust_dict.json
Due: none

remove not finished examples from here to branch #658
  bim2sim/examples/e3_compare_two_simulations.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/examples/e2_load_simple_project_bps_energyplus.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

move not finished examples from #497 to this branch
  bim2sim/examples/e3_compare_two_simulations.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/examples/e2_load_simple_project_bps_energyplus.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

run tests with current requirements instead the one from the images
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

try to seperate pipelines of MR and push
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
  build_tool:aixlib: any of: bim2sim/plugins/PluginAixLib/*
  test_Base: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_EP: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_EP_regression: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_TEASER: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_TEASER_regression: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_CFD: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_AixLib: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_LCA: any of: bim2sim/**/*.py, .gitlab-ci.yml
  pylint: any of: bim2sim/**/*.py, .gitlab-ci.yml
