Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:energyplus_workshop: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  test_Base: any of: bim2sim/**/*.py
  test_EP: any of: bim2sim/**/*.py
  test_EP_regression: any of: bim2sim/**/*.py
  test_TEASER: any of: bim2sim/**/*.py
  test_TEASER_regression: any of: bim2sim/**/*.py
  test_CFD: any of: bim2sim/**/*.py
  test_AixLib: any of: bim2sim/**/*.py
  test_LCA: any of: bim2sim/**/*.py
  pylint: any of: bim2sim/**/*.py

Add documentation for settings_to_md.py
  bim2sim/utilities/settings_to_md.py
  docs/source/developer-guide/doc-utilities.md
  docs/source/developer-guide/doc-utilities/simsettings_to_markdown.md
  pyproject.toml
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Move settings_to_md script to docs/utilities
  docs/source/developer-guide/doc-utilities/simsettings_to_markdown.md
  docs/utilities/settings_to_md.py
  pyproject.toml
Due: none

Extend documentation for PluginOpenFOAM
  docs/source/big-picture.md
  docs/source/simulation-guide/simulation-types.md
  docs/source/user-guide/PluginComfort.md
  docs/source/user-guide/PluginEnergyPlus.md
  docs/source/user-guide/PluginOpenFOAM.md
Due: none

Add setting for total iterations
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/sim_settings.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/init_openfoam_setup.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Set up documentation for PluginOpenFOAM
  docs/source/advanced-user-guide/concepts/sim_settings.md
  docs/source/user-guide.md
  docs/source/user-guide/PluginOpenFOAM.md
Due: none

Update Documentation for OpenFOAM
  docs/source/advanced-user-guide/concepts/sim_settings.md
  docs/source/big-picture.md
  docs/source/user-guide/PluginOpenFOAM.md
Due: none

Fix minor errors after merge
  docs/source/advanced-user-guide/concepts/sim_settings.md
  docs/source/index.rst
Due: none

Reformat docstrings to Google style
  docs/utilities/settings_to_md.py
  pyproject.toml
Due: none

Add tests for PluginOpenFOAM to CI.
  .gitlab-ci.yml
  bim2sim/plugins/PluginOpenFOAM/test/integration/test_openfoam.py
  pyproject.toml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Add butterfly dependency to PluginOpenFOAM
  pyproject.toml
Due: none

Fix butterfly import
  pyproject.toml
Due: none

update butterfly imports for CI
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/add_comfort.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/create_openfoam_meshing.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/init_openfoam_setup.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/run_meshing.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/run_openfoam_simulation.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/set_boundary_conditions.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Update installation of butterfly and add regression test directory for openfoam
  bim2sim/plugins/PluginOpenFOAM/test/regression/__init__.py
  pyproject.toml
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Update butterfly installation to main branch.
  pyproject.toml
Due: none

Update PluginOpenFOAM.md.
  docs/source/user-guide/PluginOpenFOAM.md
Due: none

Add framework for regression tests
  bim2sim/plugins/PluginOpenFOAM/test/regression/test_openfoam_case.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Update User-Guide/PluginOpenFOAM.md
  docs/source/user-guide/PluginOpenFOAM.md
Due: none

add sim_settings ids_file_path to example e3
  bim2sim/examples/e3_checkIFCIDS.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

add u_value of slab
  bim2sim/plugins/PluginIFCCheck/bim2sim_ifccheck/examples/e1_checkIFCIDS_dev.py
  bim2sim/plugins/PluginIFCCheck/bim2sim_ifccheck/ifc_props.ids
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

extend ifcSlab by ifcRoof in ids file
  bim2sim/plugins/PluginIFCCheck/bim2sim_ifccheck/ifc_props.ids
Due: none

add usage integration test
  bim2sim/plugins/PluginIFCCheck/test/integration/test_usage.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

adapt link to guid summary
  bim2sim/assets/templates/check_ifc/summary_template_extend
Due: none

move logge command
  bim2sim/tasks/common/check_ifc_ids.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint
