Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:cfd, build_tool:teaser

build_env:master:
  image: docker:latest
  stage: build-env
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:master -f MainLib/envBase.Dockerfile .
  - docker push $CI_REGISTRY/environment:master

build_env:ubuntu_base:
  image: docker:latest
  stage: build-env
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:ubuntu_base -f MainLib/envBase.Dockerfile .
  - docker push $CI_REGISTRY/environment:ubuntu_base

build_env:development:
  image: docker:latest
  stage: build-env
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:development -f MainLib/envBase.Dockerfile .
  - docker push $CI_REGISTRY/environment:development

build_env:energyplus:
  image: docker:latest
  stage: build-env
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:energyplus -f PluginEnergyPlus/envEP.Dockerfile .
  - docker push $CI_REGISTRY/environment:energyplus

build_env:cfd:
  image: docker:latest
  stage: build-env
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:cfd -f PluginCFD/envCFD.Dockerfile .
  - docker push $CI_REGISTRY/environment:cfd
  timeout: 6 hours

build_env:teaser:
  image: docker:latest
  stage: build-env
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:teaser -f PluginTEASER/envTEASER.Dockerfile .
  - docker push $CI_REGISTRY/environment:teaser

build_tool:cfd:
  image: docker:latest
  stage: build-tool
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/tool:cfd -f PluginCFD/cfd.Dockerfile .
  - docker push $CI_REGISTRY/tool:cfd

build_tool:teaser:
  image: docker:latest
  stage: build-tool
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/tool:teaser -f PluginCFD/teaser.Dockerfile .
  - docker push $CI_REGISTRY/tool:teaser

update to new system
  bim2sim/task/hvac/expansiontanks.py
  test/unit/kernel/aggregation/test_generator.py
  test/unit/kernel/task/test_expansiontank.py
Due: none

project add argument plugin
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
  bim2sim/plugins/PluginTEASER/test/ap7_testing/integration_test_setup.py
  bim2sim/project.py
  bim2sim/utilities/test.py
  test/integration/base.py
  test/unit/test_project.py
Due: none

fix type hint
  bim2sim/project.py
Due: none

update tests
  test/integration/test_useage.py
  test/unit/kernel/task/test_inspect.py
Due: none

update imports
  bim2sim/__main__.py
Due: none

move hkesim tests to hkesim
  bim2sim/plugins/PluginHKESim/test/test_hvac.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/__init__.py
Due: none

update module plugins
  bim2sim/plugins/__init__.py
Due: none

update docs
  README.md
  docs/source/index.rst
  docs/source/plugins/writing-your-own-plugin.md
  docs/source/tasks.md
  docs/source/tasks/writing-your-own-task.md
Due: none

add docs readme
  docs/README.md
Due: none

remove obsolete external decision handler
  bim2sim/decision/external.py
  bim2sim/decision/sample_client.py
Due: none

move plugin hkesim to separate repo
  bim2sim/plugins/PluginHKESim/bim2sim_hkesim/__init__.py
  bim2sim/plugins/PluginHKESim/bim2sim_hkesim/models/__init__.py
  bim2sim/plugins/PluginHKESim/requirements.txt
  bim2sim/plugins/PluginHKESim/test/test_hvac.py
Due: none

update CI
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

fix imports
  test/unit/kernel/aggregation/test_generator.py
  test/unit/test_project.py
Due: none

fix test dir
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

update paths
  envBase.Dockerfile
Due: none

add new log module
  MainLib/bim2sim/__init__.py
  MainLib/bim2sim/log.py
Due: none

update log usage
  MainLib/bim2sim/export/modelica/__init__.py
  MainLib/bim2sim/kernel/element.py
  MainLib/bim2sim/project.py
  MainLib/bim2sim/task/base.py
  MainLib/bim2sim/task/common/common.py
Due: none

better thread filtered logging / custom user logging support
  MainLib/bim2sim/__init__.py
  MainLib/bim2sim/log.py
  MainLib/bim2sim/project.py
Due: none

update loggers
  MainLib/bim2sim/kernel/element.py
Due: none

update logging docu
  docs/source/first-steps.md
  docs/source/index.rst
  docs/source/logging.md
Due: none

clear unused methods
  MainLib/bim2sim/log.py
Due: none

update logger usage
  MainLib/bim2sim/kernel/elements/hvac.py
  MainLib/bim2sim/task/hvac/hvac.py
Due: none

update logger name
  MainLib/bim2sim/task/base.py
Due: none

Add exception for creation of 2b space boundaries
  PluginEnergyPlus/bim2sim_energyplus/task/ep_add_2b_bounds.py
Due: none

add plugin lca to pythonpath (needed for upcoming merge of pluginlca)
  MainLib/envBase.Dockerfile
Due: build_env:master, build_env:development

use ubuntu 20.04 instead of latest
  MainLib/envBase.Dockerfile
Due: build_env:master, build_env:development

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

comment tests to build new images
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Update envBase.Dockerfile
  envBase.Dockerfile
Due: none

temp rm pylint
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Update envTEASER.Dockerfile
  bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile
Due: none

remove ifcopenshell as it is installed manually in dockerfile
  requirements.txt
Due: none

implement tests again
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

remove ubuntu base and use development instead
  .gitlab-ci.yml
  Dockerfile
  bim2sim/plugins/PluginCFD/envCFD.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile
  bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

temp rm tests to build new images
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

update env path for new structure of teaser dockerfile
  bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile
Due: none

build plugins after base image
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

re add tests
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

remove extra pipeline for merge requests
  .gitlab-ci.yml
Due: build_env:ubuntu_base, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Path conditions:
  build_env:master: any of: MainLib/envBase.Dockerfile, MainLib/requirements.txt
  build_env:ubuntu_base: any of: Environment/envBase.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:development: any of: MainLib/envBase.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: PluginEnergyPlus/envEP.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: PluginCFD/envCFD.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: PluginTEASER/envTEASER.Dockerfile, MainLib/requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: PluginCFD/*
  build_tool:teaser: any of: PluginTEASER/*
