Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:cfd, build_tool:teaser

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*

add default values for tolerances.
  bim2sim/task/bps/sb_creation.py
Due: none

Add EnergyPlusWorkflow
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/__init__.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/workflow.py
Due: none

Try bugfix
  bim2sim/project.py
Due: none

update python; new occ and ifcopenshell install epregression
  envBase.Dockerfile
Due: build_env:master, build_env:development

Update bim2sim/plugins/PluginEnergyPlus/requirements.txt
  bim2sim/plugins/PluginEnergyPlus/requirements.txt
Due: build_env:energyplus

Add EnergyPlus Settings to base_config
  bim2sim/project.py
  bim2sim/workflow.py
Due: none

rename sb_creation functions to make them available in documentation.
  bim2sim/task/bps/sb_creation.py
Due: none

Init EnergyPlus documentation
  docs/source/plugins.md
  docs/source/plugins/EnergyPlus.md
Due: none

improve structure of Plugins and docs
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/__init__.py
  bim2sim/plugins/PluginCFD/__init__.py
  bim2sim/plugins/PluginCFD/bim2sim_cfd/__init__.py
  bim2sim/plugins/PluginEnergyPlus/__init__.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/__init__.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_geom_preprocessing.py
  bim2sim/plugins/PluginLCA/__init__.py
  bim2sim/plugins/PluginLCA/bim2sim_lca/__init__.py
  bim2sim/plugins/PluginLCA/bim2sim_lca/task/__init__.py
  bim2sim/plugins/PluginLCA/bim2sim_lca/task/export_lca.py
  bim2sim/plugins/PluginTEASER/__init__.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/__init__.py
  bim2sim/task/lca/__init__.py
  docs/source/attribute.md
  test/unit/kernel/task/test_inspect.py
  test/unit/test_project.py
Due: build_tool:cfd, build_tool:teaser

change depth lvl of doc to 3
  docs/source/index.rst
Due: none

downgrade to python 3.9 (geomeppy)
  envBase.Dockerfile
Due: build_env:master, build_env:development

update EnergyPlus Workflow settings
  bim2sim/project.py
  bim2sim/task/bps/sb_creation.py
  bim2sim/workflow.py
Due: none

Add documentation
  bim2sim/task/bps/sb_creation.py
Due: none

Move maximum wall thickness to general workflow settings.
  bim2sim/project.py
  bim2sim/workflow.py
Due: none

downgrade OCC to 7.5.1
  envBase.Dockerfile
Due: build_env:master, build_env:development

Update Regression Test documentation.
  bim2sim/plugins/PluginEnergyPlus/test/regression_test/test_regression.py
Due: none

Update documentation of ep_create_idf.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

minor refactoring
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

Update documentation of ep_geom_preprocessing.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_geom_preprocessing.py
Due: none

Update energyplus-regressions tool installation according to https://github.com/NREL/EnergyPlusRegressionTool/issues/97
  bim2sim/plugins/PluginEnergyPlus/requirements.txt
  envBase.Dockerfile
Due: build_env:master, build_env:development, build_env:energyplus

Update requirements.txt
  bim2sim/plugins/PluginEnergyPlus/requirements.txt
Due: build_env:energyplus

Update envBase.Dockerfile
  envBase.Dockerfile
Due: build_env:master, build_env:development

Update requirements.txt
  requirements.txt
Due: build_env:master, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Update documentation
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/__init__.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_geom_preprocessing.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/weather.py
  docs/source/index.rst
Due: none

implemented get flow direction from original in aggregations
  bim2sim/export/modelica/standardlibrary.py
  bim2sim/kernel/aggregation.py
  bim2sim/kernel/elements/hvac.py
  bim2sim/plugins/PluginHKESim/bim2sim_hkesim/models/__init__.py
  bim2sim/plugins/PluginHKESim/test/test_hvac.py
Due: none

remove comments
  bim2sim/project.py
Due: none

Generate config base setup from workflow defaults.
  bim2sim/project.py
Due: none

Bugfix for LODs in automatic config generation.
  bim2sim/project.py
  docs/source/plugins/EnergyPlus.md
Due: none

Add simulation control settings to config.
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/workflow.py
Due: none

fix outer_connections for distributor
  bim2sim/kernel/aggregation.py
Due: none

add debug code for better understanding
  bim2sim/task/hvac/hvac.py
Due: none

Add grouped output variables to settings.
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/workflow.py
Due: none

move logging to functions
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

cleanup imports
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

update documentation of ep_add_2b_bounds.py.
  bim2sim/kernel/elements/bps.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_add_2b_bounds.py
Due: none

update documentation of ep_idf_cfd_export.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_idf_cfd_export.py
Due: none
