Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:cfd, build_tool:teaser, build_tool:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

build_env:master:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:development:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:dymola:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME_DYMOLA -p $CI_DEPLOY_TOKEN_PASSWORD_DYMOLA $CI_REGISTRY_LOGIN_DYMOLA
  script:
  ...

build_env:energyplus:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:cfd:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:teaser:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:teaser-dymola:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:aixlib:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_tool:cfd:
  image: docker:24.0.5
  stage: build-tool
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_tool:teaser:
  image: docker:24.0.5
  stage: build-tool
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

basic export for hvac with heat ports
  bim2sim/assets/templates/modelica/tmplModel.txt
  bim2sim/assets/templates/modelica/tmplSpawnBuilding.txt
  bim2sim/export/modelica/__init__.py
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/models/__init__.py
  bim2sim/plugins/PluginAixLib/test/unit/kernel/task/export.py
  bim2sim/plugins/PluginAixLib/test/unit/tasks/__init__.py
  bim2sim/plugins/PluginAixLib/test/unit/tasks/test_export.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_building.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_total.py
  bim2sim/sim_settings.py
  bim2sim/tasks/common/export_modelica.py
  bim2sim/tasks/hvac/export.py
  test/unit/elements/helper.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

add comment before visualistion of plugin template
  docs/source/user-guide/PluginTemplate.md
Due: none

correction of the comment command/format
  docs/source/user-guide/PluginTemplate.md
Due: none

add visualistion of the TEASER plugin
  docs/source/user-guide/PluginTEASER.md
Due: none

add visualistion of EnergyPlus plugin
  docs/source/user-guide/PluginEnergyPlus.md
Due: none

small spelling correction
  docs/source/user-guide/PluginTEASER.md
  docs/source/user-guide/PluginTemplate.md
Due: none

add visualistion of the LCA plugin
  docs/source/user-guide/PluginLCA.md
Due: none

correct head line title
  docs/source/user-guide/PluginEnergyPlus.md
  docs/source/user-guide/PluginTEASER.md
Due: none

add visualistion of HKESim plugin
  docs/source/user-guide/PluginHKESim.md
Due: none

add visualistion of plugins cfd
  docs/source/user-guide/PluginCFD.md
Due: none

add visualistion of AixLib plugin
  docs/source/user-guide/PluginAixLib.md
Due: none

add a basic heatport class
  bim2sim/export/modelica/__init__.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

make sure heat transfer type has only certain values
  bim2sim/export/modelica/__init__.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

use enum for heat transfer type
  bim2sim/export/modelica/__init__.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

add heat port connections to export
  bim2sim/assets/templates/modelica/tmplSpawnBuilding.txt
  bim2sim/elements/base_elements.py
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/models/__init__.py
  bim2sim/tasks/hvac/export.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

add parent for heatport
  bim2sim/export/modelica/__init__.py
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/models/__init__.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

basic export heat port connections for radiative and convection heat transfer
  bim2sim/export/modelica/__init__.py
  bim2sim/tasks/hvac/export.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

renew heater.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/openfoam_elements/heater.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Add groundfloor area
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/openfoam_elements/heater.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Update to latest changes in development branch
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/__init__.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

correct size of heatports
  bim2sim/assets/templates/modelica/tmplModel.txt
  bim2sim/export/modelica/__init__.py
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/models/__init__.py
  bim2sim/tasks/common/__init__.py
  bim2sim/tasks/common/export_modelica.py
  bim2sim/tasks/hvac/export.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Add renaming of zones for plots
  bim2sim/plugins/PluginComfort/bim2sim_comfort/examples/e1_simple_project_comfort_energyplus.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/task/plot_comfort_results.py
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
  build_tool:aixlib: any of: bim2sim/plugins/PluginAixLib/*
  test_Base: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_EP: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_EP_regression: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_TEASER: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_TEASER_regression: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_CFD: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_AixLib: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_LCA: any of: bim2sim/**/*.py, .gitlab-ci.yml
  pylint: any of: bim2sim/**/*.py, .gitlab-ci.yml
