Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:dev:py3.10, build:dev:py3.11, build:dev-PluginTEASER:py3.10, build:dev-PluginTEASER:py3.11, build:dev-PluginAixLib:py3.10, build:dev-PluginAixLib:py3.11, build:dev-PluginHKESim:py3.10, build:dev-PluginHKESim:py3.11, build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-PluginLCA:py3.10, build:dev-PluginLCA:py3.11, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.10, build:main:py3.11, build:main-PluginTEASER:py3.10, build:main-PluginTEASER:py3.11, build:main-PluginAixLib:py3.10, build:main-PluginAixLib:py3.11, build:main-PluginHKESim:py3.10, build:main-PluginHKESim:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-PluginLCA:py3.10, build:main-PluginLCA:py3.11, build:main-dymola:py3.10, build:main-dymola:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

build:dev:py3.10:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev:py3.11:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev-PluginTEASER:py3.10:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev-PluginTEASER:py3.11:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev-PluginAixLib:py3.10:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev-PluginAixLib:py3.11:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev-PluginHKESim:py3.10:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev-PluginHKESim:py3.11:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev-PluginEnergyPlus:py3.10:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build:dev-PluginEnergyPlus:py3.11:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

Improve schlitzauslass implementation
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/create_openfoam_geometry.py
Due: none

update examples
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/examples/e17_openfoam_import_IFC-HVAC_multi_files.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/examples/e18_openfoam_import_IFC-HVAC_multi_overflow.py
Due: none

exclude txt files from coverage
  .gitlab-ci.yml
Due: build:dev:py3.10, build:dev:py3.11, build:dev-PluginTEASER:py3.10, build:dev-PluginTEASER:py3.11, build:dev-PluginAixLib:py3.10, build:dev-PluginAixLib:py3.11, build:dev-PluginHKESim:py3.10, build:dev-PluginHKESim:py3.11, build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-PluginLCA:py3.10, build:dev-PluginLCA:py3.11, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.10, build:main:py3.11, build:main-PluginTEASER:py3.10, build:main-PluginTEASER:py3.11, build:main-PluginAixLib:py3.10, build:main-PluginAixLib:py3.11, build:main-PluginHKESim:py3.10, build:main-PluginHKESim:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-PluginLCA:py3.10, build:main-PluginLCA:py3.11, build:main-dymola:py3.10, build:main-dymola:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

fixed unit test of PluginAixLib
  bim2sim/plugins/PluginAixLib/test/unit/tasks/test_export.py
  test/unit/elements/helper.py
Due: none

try to include all test folders for all plugins
  .gitlab-ci.yml
Due: build:dev:py3.10, build:dev:py3.11, build:dev-PluginTEASER:py3.10, build:dev-PluginTEASER:py3.11, build:dev-PluginAixLib:py3.10, build:dev-PluginAixLib:py3.11, build:dev-PluginHKESim:py3.10, build:dev-PluginHKESim:py3.11, build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-PluginLCA:py3.10, build:dev-PluginLCA:py3.11, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.10, build:main:py3.11, build:main-PluginTEASER:py3.10, build:main-PluginTEASER:py3.11, build:main-PluginAixLib:py3.10, build:main-PluginAixLib:py3.11, build:main-PluginHKESim:py3.10, build:main-PluginHKESim:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-PluginLCA:py3.10, build:main-PluginLCA:py3.11, build:main-dymola:py3.10, build:main-dymola:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

separate the test folders
  .gitlab-ci.yml
Due: build:dev:py3.10, build:dev:py3.11, build:dev-PluginTEASER:py3.10, build:dev-PluginTEASER:py3.11, build:dev-PluginAixLib:py3.10, build:dev-PluginAixLib:py3.11, build:dev-PluginHKESim:py3.10, build:dev-PluginHKESim:py3.11, build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-PluginLCA:py3.10, build:dev-PluginLCA:py3.11, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.10, build:main:py3.11, build:main-PluginTEASER:py3.10, build:main-PluginTEASER:py3.11, build:main-PluginAixLib:py3.10, build:main-PluginAixLib:py3.11, build:main-PluginHKESim:py3.10, build:main-PluginHKESim:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-PluginLCA:py3.10, build:main-PluginLCA:py3.11, build:main-dymola:py3.10, build:main-dymola:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

add init file to plugin aixlib test regression [skip-ci]
  bim2sim/plugins/PluginAixLib/test/regression/__init__.py
Due: none

cleanup spawn implementation and add simple integration test
  bim2sim/assets/templates/modelica/tmplSpawnBuilding.txt
  bim2sim/elements/bps_elements.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/sim_settings.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/examples/e1_simple_project_bps_spawn.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/models/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/sim_settings.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_building.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_total.py
  bim2sim/plugins/PluginSpawn/test/__init__.py
  bim2sim/plugins/PluginSpawn/test/integration/__init__.py
  bim2sim/plugins/PluginSpawn/test/integration/test_spawn.py
  bim2sim/plugins/PluginSpawn/test/integration/test_usage.py
  bim2sim/sim_settings.py
  bim2sim/tasks/hvac/export.py
Due: none

cleanup old debug runs and version specifications and use version from pyproject.toml only
  bim2sim/__init__.py
  bim2sim/__main__.py
  bim2sim/kernel/decision/__init__.py
  pyproject.toml
Due: build:dev:py3.10, build:dev:py3.11, build:dev-PluginTEASER:py3.10, build:dev-PluginTEASER:py3.11, build:dev-PluginAixLib:py3.10, build:dev-PluginAixLib:py3.11, build:dev-PluginHKESim:py3.10, build:dev-PluginHKESim:py3.11, build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-PluginLCA:py3.10, build:dev-PluginLCA:py3.11, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.10, build:main:py3.11, build:main-PluginTEASER:py3.10, build:main-PluginTEASER:py3.11, build:main-PluginAixLib:py3.10, build:main-PluginAixLib:py3.11, build:main-PluginHKESim:py3.10, build:main-PluginHKESim:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-PluginLCA:py3.10, build:main-PluginLCA:py3.11, build:main-dymola:py3.10, build:main-dymola:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

cleanup old debug runs and version specifications and use version from pyproject.toml only
  pyproject.toml
Due: build:dev:py3.10, build:dev:py3.11, build:dev-PluginTEASER:py3.10, build:dev-PluginTEASER:py3.11, build:dev-PluginAixLib:py3.10, build:dev-PluginAixLib:py3.11, build:dev-PluginHKESim:py3.10, build:dev-PluginHKESim:py3.11, build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-PluginLCA:py3.10, build:dev-PluginLCA:py3.11, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.10, build:main:py3.11, build:main-PluginTEASER:py3.10, build:main-PluginTEASER:py3.11, build:main-PluginAixLib:py3.10, build:main-PluginAixLib:py3.11, build:main-PluginHKESim:py3.10, build:main-PluginHKESim:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-PluginLCA:py3.10, build:main-PluginLCA:py3.11, build:main-dymola:py3.10, build:main-dymola:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

add option to retrieve __version__ from inside code
  bim2sim/__init__.py
Due: none

adjust version in decision system
  bim2sim/kernel/decision/__init__.py
Due: none

adjust version in decision system
  bim2sim/__main__.py
  bim2sim/kernel/decision/__init__.py
Due: none

update docs to supported python versions [skip-ci]
  docs/source/user-guide/PluginTemplate.md
Due: none

add fvDOM radiation model
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/assets/templates/constant/radiation/P1/radiationProperties
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/assets/templates/constant/radiation/fvDOM/radiationProperties
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/openfoam_elements/openfoam_case.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/sim_settings.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/init_openfoam_setup.py
Due: none

Add preconditioned fvDOM
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/assets/templates/constant/radiation/fvDOM/radiationProperties
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/assets/templates/system/steadyState/fvSolution
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/examples/e13_run_openfoam_fvDOM.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/run_openfoam_simulation.py
Due: none

fix new end time
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/run_openfoam_simulation.py
Due: none

Update default simulation parameters for use in fvDOM
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/assets/templates/constant/radiation/P1/radiationProperties
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/assets/templates/constant/radiation/fvDOM/radiationProperties
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/assets/templates/system/steadyState/fvSolution
Due: none

Update relaxationFactors for use in fvDOM
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/run_openfoam_simulation.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/utils/openfoam_utils.py
Due: none

fix version usage in test
  test/integration/test_useage.py
Due: none

adjust development status and license in pyproject.toml
  pyproject.toml
Due: build:dev:py3.10, build:dev:py3.11, build:dev-PluginTEASER:py3.10, build:dev-PluginTEASER:py3.11, build:dev-PluginAixLib:py3.10, build:dev-PluginAixLib:py3.11, build:dev-PluginHKESim:py3.10, build:dev-PluginHKESim:py3.11, build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-PluginLCA:py3.10, build:dev-PluginLCA:py3.11, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.10, build:main:py3.11, build:main-PluginTEASER:py3.10, build:main-PluginTEASER:py3.11, build:main-PluginAixLib:py3.10, build:main-PluginAixLib:py3.11, build:main-PluginHKESim:py3.10, build:main-PluginHKESim:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-PluginLCA:py3.10, build:main-PluginLCA:py3.11, build:main-dymola:py3.10, build:main-dymola:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

improve robustnes to download energyplus as it sometime fails
  EnergyPlus.Dockerfile
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
Due: build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

fix logging
  bim2sim/tasks/common/create_relations.py
Due: none

update yml
  .gitlab-ci.yml
Due: build:dev:py3.10, build:dev:py3.11, build:dev-PluginTEASER:py3.10, build:dev-PluginTEASER:py3.11, build:dev-PluginAixLib:py3.10, build:dev-PluginAixLib:py3.11, build:dev-PluginHKESim:py3.10, build:dev-PluginHKESim:py3.11, build:dev-PluginEnergyPlus:py3.10, build:dev-PluginEnergyPlus:py3.11, build:dev-PluginComfort:py3.10, build:dev-PluginComfort:py3.11, build:dev-PluginLCA:py3.10, build:dev-PluginLCA:py3.11, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.10, build:main:py3.11, build:main-PluginTEASER:py3.10, build:main-PluginTEASER:py3.11, build:main-PluginAixLib:py3.10, build:main-PluginAixLib:py3.11, build:main-PluginHKESim:py3.10, build:main-PluginHKESim:py3.11, build:main-PluginEnergyPlus:py3.10, build:main-PluginEnergyPlus:py3.11, build:main-PluginComfort:py3.10, build:main-PluginComfort:py3.11, build:main-PluginLCA:py3.10, build:main-PluginLCA:py3.11, build:main-dymola:py3.10, build:main-dymola:py3.11, build:main-energyplus:py3.10, build:main-energyplus:py3.11

update example and postProcessingPlots.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/examples/e18_openfoam_import_IFC-HVAC_multi_overflow.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/utils/postProcessingPlots.py
Due: none

Update
  bim2sim/assets/enrichment/material/MaterialEmissions.json
  bim2sim/plugins/PluginHydraulicSystem/bim2sim_hydraulicsystem/assets/hydraulic_components.xlsx
  bim2sim/plugins/PluginLCA/bim2sim_lca/__init__.py
  bim2sim/plugins/PluginLCA/bim2sim_lca/task/calculate_lca_building.py
  bim2sim/plugins/PluginLCA/bim2sim_lca/task/load_emission_parameter.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e3_complex_project_teaser_ma_jho.py
Due: none

Update
  bim2sim/plugins/PluginHydraulicSystem/bim2sim_hydraulicsystem/task/calculate_hydraulic_system.py
  bim2sim/plugins/PluginHydraulicSystem/bim2sim_hydraulicsystem/task/create_building_and_heating_graph.py
  bim2sim/plugins/PluginLCA/bim2sim_lca/task/calculate_lca_building.py
  bim2sim/plugins/PluginLCA/bim2sim_lca/task/calculate_lca_hydraulic_system.py
  bim2sim/plugins/PluginVentilationSystem/bim2sim_ventilationsystem/examples/e1_create_ventilation_system_ma_jho.py
  bim2sim/plugins/PluginVentilationSystem/bim2sim_ventilationsystem/task/ventilation_system.py
Due: none

Update README.md links to documentation
  README.md
Due: none

Path conditions:
  build:dev:py3.10: any of: Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev:py3.11: any of: Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginTEASER:py3.10: any of: Dockerfile, bim2sim/plugins/PluginTEASER/PluginTEASER.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginTEASER:py3.11: any of: Dockerfile, bim2sim/plugins/PluginTEASER/PluginTEASER.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginAixLib:py3.10: any of: Dockerfile, bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginAixLib:py3.11: any of: Dockerfile, bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginHKESim:py3.10: any of: Dockerfile, bim2sim/plugins/PluginHKESim/PluginHKESim.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginHKESim:py3.11: any of: Dockerfile, bim2sim/plugins/PluginHKESim/PluginHKESim.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginEnergyPlus:py3.10: any of: Dockerfile, bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginEnergyPlus:py3.11: any of: Dockerfile, bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginComfort:py3.10: any of: Dockerfile, bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginComfort:py3.11: any of: Dockerfile, bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginLCA:py3.10: any of: Dockerfile, bim2sim/plugins/PluginLCA/PluginLCA.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-PluginLCA:py3.11: any of: Dockerfile, bim2sim/plugins/PluginLCA/PluginLCA.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-dymola:py3.10: any of: Dymola.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-dymola:py3.11: any of: Dymola.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-energyplus:py3.10: any of: Dockerfile, EnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-energyplus:py3.11: any of: Dockerfile, EnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main:py3.10: any of: Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main:py3.11: any of: Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginTEASER:py3.10: any of: Dockerfile, bim2sim/plugins/PluginTEASER/PluginTEASER.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginTEASER:py3.11: any of: Dockerfile, bim2sim/plugins/PluginTEASER/PluginTEASER.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginAixLib:py3.10: any of: Dockerfile, bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginAixLib:py3.11: any of: Dockerfile, bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginHKESim:py3.10: any of: Dockerfile, bim2sim/plugins/PluginHKESim/PluginHKESim.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginHKESim:py3.11: any of: Dockerfile, bim2sim/plugins/PluginHKESim/PluginHKESim.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginEnergyPlus:py3.10: any of: Dockerfile, bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginEnergyPlus:py3.11: any of: Dockerfile, bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginComfort:py3.10: any of: Dockerfile, bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginComfort:py3.11: any of: Dockerfile, bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginLCA:py3.10: any of: Dockerfile, bim2sim/plugins/PluginLCA/PluginLCA.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-PluginLCA:py3.11: any of: Dockerfile, bim2sim/plugins/PluginLCA/PluginLCA.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-dymola:py3.10: any of: Dymola.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-dymola:py3.11: any of: Dymola.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-energyplus:py3.10: any of: Dockerfile, EnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main-energyplus:py3.11: any of: Dockerfile, EnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
