Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

build_env:master:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:development:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:dymola:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:energyplus:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:energyplus_workshop:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:cfd:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:teaser:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:teaser-dymola:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:aixlib:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

test_Base:
  image: $CI_REGISTRY/environment:development
  stage: test
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  - pip install coverage
  - pip install coverage-badge
  script:
  - mv ./* /bim2sim-coding/
  ...

update openfoam test resources
  .gitmodules
Due: none

Update version number and contributors for PluginOpenFOAM release
  pyproject.toml
Due: none

Add PluginOpenFOAM.Dockerfile
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

add empty line at end of file
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

Remove empty line before include section
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Add support for Dockerfiles in plugin directories
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

First attempt to fix builds with energyplus.
  .gitlab-ci.yml
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

update gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

reorder pipeline for debugging
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Fix dockerfile browser usage
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

Update PluginOpenFOAM.Dockerfile
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

build PluginOpenFOAM based on energyplus build
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Update PluginOpenFOAM.Dockerfile.
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

Update .gitlab-ci.yml and EnergyPlus-related dockerfiles to reduce EnergyPlus downloads
  .gitlab-ci.yml
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Switch energyplus related builds to energyplus-base image for the build of the main branch.
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Fix: update EnergyPlus result creation, IDF generation, and sim_settings improvements
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/create_result_df.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

rework images
  EnergyPlus.Dockerfile
  EnergyPlusBase.Dockerfile
  bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile
  bim2sim/plugins/PluginHKESim/PluginHKESim.Dockerfile
  bim2sim/plugins/PluginLCA/PluginLCA.Dockerfile
  bim2sim/plugins/PluginTEASER/PluginTEASER.Dockerfile
Due: none

rework images
  .gitlab-ci.yml
  Dockerfile
  Dymola.Dockerfile
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

merge current dev with FOAM
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix name
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

rev claude change
  EnergyPlusBase.Dockerfile
Due: none

use single layer build
  EnergyPlusBase.Dockerfile
Due: none

use official download link
  EnergyPlusBase.Dockerfile
Due: none

fix bug
  EnergyPlusBase.Dockerfile
Due: none

explicit install version again
  EnergyPlusBase.Dockerfile
Due: none

test out ubuntu directly
  EnergyPlusBase.Dockerfile
Due: none

build docker locally and push it
  .gitlab-ci.yml
  EnergyPlusBase.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

rm needs
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

install x11
  EnergyPlus.Dockerfile
Due: none

try release building before merging
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix FOAM image
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:energyplus_workshop: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  test_Base: any of: bim2sim/**/*.py
  test_EP: any of: bim2sim/**/*.py
  test_EP_regression: any of: bim2sim/**/*.py
  test_TEASER: any of: bim2sim/**/*.py
  test_TEASER_regression: any of: bim2sim/**/*.py
  test_CFD: any of: bim2sim/**/*.py
  test_AixLib: any of: bim2sim/**/*.py
  test_LCA: any of: bim2sim/**/*.py
  pylint: any of: bim2sim/**/*.py
