Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

build_env:master:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:development:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:dymola:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:energyplus:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:energyplus_workshop:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:cfd:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:teaser:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:teaser-dymola:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:aixlib:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

test_Base:
  image: $CI_REGISTRY/environment:development
  stage: test
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  - pip install coverage
  - pip install coverage-badge
  script:
  - mv ./* /bim2sim-coding/
  ...

only use one image of energy plus for dev and main
  .gitlab-ci.yml
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

rm needs
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix stage and re-build e+ image
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

use PYTHON_VERSION ARG as it is used in build
  .gitlab-ci.yml
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

echo folder
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

try resetting workdir
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

use CI_PROJECT_DIR
  .gitlab-ci.yml
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

two build args
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

use var
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

use var
  .gitlab-ci.yml
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

use better workdirs
  Dockerfile
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

mamba active after FROM
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
Due: none

apply fixes to all images
  bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
  bim2sim/plugins/PluginHKESim/PluginHKESim.Dockerfile
  bim2sim/plugins/PluginLCA/PluginLCA.Dockerfile
  bim2sim/plugins/PluginTEASER/PluginTEASER.Dockerfile
Due: none

actually test the release
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix tag
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

unit test update
  bim2sim/plugins/PluginEnergyPlus/test/unit/task/test_hash_function.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

rework image generations, based on internal review
  .gitlab-ci.yml
  Dymola.Dockerfile
  EnergyPlus.Dockerfile
  bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
  bim2sim/plugins/PluginHKESim/PluginHKESim.Dockerfile
  bim2sim/plugins/PluginLCA/PluginLCA.Dockerfile
  bim2sim/plugins/PluginOpenFOAM/PluginOpenFOAM.Dockerfile
  bim2sim/plugins/PluginTEASER/PluginTEASER.Dockerfile
  ci/builds_releases.gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix BASE TAG
  EnergyPlus.Dockerfile
  EnergyPlusBase.Dockerfile
Due: none

fix tag
  EnergyPlus.Dockerfile
Due: none

fix arg
  ci/builds_releases.gitlab-ci.yml
Due: none

fix changes and move Dockerfiles
  ci/Dockerfile
  ci/Dymola.Dockerfile
  ci/EnergyPlus.Dockerfile
  ci/EnergyPlusBase.Dockerfile
  ci/builds_releases.gitlab-ci.yml
Due: none

add needs
  ci/EnergyPlusBase.Dockerfile
  ci/builds_releases.gitlab-ci.yml
Due: none

rename jobs and build dymola image
  ci/builds_releases.gitlab-ci.yml
Due: none

build dymola image
  ci/builds_releases.gitlab-ci.yml
Due: none

fix dymola image
  ci/Dockerfile
  ci/Dymola.Dockerfile
Due: none

fix args
  ci/Dymola.Dockerfile
  ci/builds_releases.gitlab-ci.yml
Due: none

fix script
  ci/builds_releases.gitlab-ci.yml
Due: none

fix login
  ci/builds_releases.gitlab-ci.yml
Due: none

chore: revert changes during testing
  .gitlab-ci.yml
  ci/builds_releases.gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

hardcoded hash
  bim2sim/plugins/PluginEnergyPlus/test/unit/task/test_hash_function.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

no hash in the first line
  bim2sim/plugins/PluginEnergyPlus/test/unit/task/test_hash_function.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

delete empty line
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

update hash comments
  bim2sim/plugins/PluginEnergyPlus/test/unit/task/test_hash_function.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:energyplus_workshop: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  test_Base: any of: bim2sim/**/*.py
  test_EP: any of: bim2sim/**/*.py
  test_EP_regression: any of: bim2sim/**/*.py
  test_TEASER: any of: bim2sim/**/*.py
  test_TEASER_regression: any of: bim2sim/**/*.py
  test_CFD: any of: bim2sim/**/*.py
  test_AixLib: any of: bim2sim/**/*.py
  test_LCA: any of: bim2sim/**/*.py
  pylint: any of: bim2sim/**/*.py
