Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:cfd, build_tool:teaser, build_tool:aixlib

build_env:main:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:development:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:dymola:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME_DYMOLA -p $CI_DEPLOY_TOKEN_PASSWORD_DYMOLA $CI_REGISTRY_LOGIN_DYMOLA
  script:
  ...

build_env:energyplus:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:cfd:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:teaser:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:teaser-dymola:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:aixlib:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_tool:cfd:
  image: docker:24.0.5
  stage: build-tool
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_tool:teaser:
  image: docker:24.0.5
  stage: build-tool
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

update rules in sphinxdoc
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

split run command for EP into multiple steps to identify error with python 3.9 and python 3.10
  .gitlab-ci.yml
  micromambaEnergyPlus.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

check whats wrong with coverage
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

try combined report
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

put pipeline together
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

cleanup pipeline
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix image for EP and add favicon
  .gitlab-ci.yml
  docs/source/conf.py
  docs/source/img/static/favicon.ico
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

not only perform integration tests for plugins but also unit tests
  .gitlab-ci.yml
  docs/source/user-guide/PluginTemplate.md
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

update docs
  docs/source/user-guide/PluginTemplate.md
Due: none

update docs and weather unittest resource path
  bim2sim/plugins/PluginEnergyPlus/test/unit/task/test_weather.py
  bim2sim/plugins/PluginTEASER/test/unit/task/test_weather.py
Due: none

adjust syntax for plugin testing
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

update pyproject.toml and delete requirements.txt files
  bim2sim/plugins/PluginAixLib/requirements.txt
  bim2sim/plugins/PluginCFD/requirements.txt
  bim2sim/plugins/PluginComfort/requirements.txt
  bim2sim/plugins/PluginEnergyPlus/requirements.txt
  bim2sim/plugins/PluginHKESim/requirements.txt
  bim2sim/plugins/PluginTEASER/requirements.txt
  docs/requirements.txt
  pyproject.toml
  requirements.txt
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:cfd, build_tool:teaser, build_tool:aixlib

update dockerignore
  .dockerignore
Due: none

update docs for docker image
  docs/source/developer-guide/docker-structure.md
Due: none

update docs for docker image
  docs/source/user-guide/PluginTemplate.md
Due: none

update docs for docker images
  docs/source/developer-guide/docker-structure.md
Due: none

try to fix build of images
  .gitlab-ci.yml
  micromamba.Dockerfile
  micromambaDymola.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

try to fix build of images
  .gitlab-ci.yml
  micromamba.Dockerfile
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

try to fix build of images
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

try without env file usage
  micromamba.Dockerfile
Due: none

Path conditions:
  build_env:main: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
  build_tool:aixlib: any of: bim2sim/plugins/PluginAixLib/*
