Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

build_env:master:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:development:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:dymola:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:energyplus:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:energyplus_workshop:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:cfd:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:teaser:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:teaser-dymola:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

build_env:aixlib:
  image: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_20.10.23
  stage: build-env-plugins
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  ...

test_Base:
  image: $CI_REGISTRY/environment:development
  stage: test
  services:
  - name: registry.git.rwth-aachen.de/ebc/ebc_all/gitlab_ci/templates:docker_18.09.7-dind
    command:
    - --mtu=1440
  before_script:
  - pip install coverage
  - pip install coverage-badge
  script:
  - mv ./* /bim2sim-coding/
  ...

Create setup
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/__init__.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e1_simple_project_bps_teaser.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

remove the howto use console
  docs/source/user-guide/PluginTemplate.md
Due: none

more changes code to interpolize gwp data of technologies
  bim2sim/plugins/PluginVentilationSystem/bim2sim_ventilationsystem/task/design_lca_exhaust_air.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

introduce pydantic
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e1_simple_project_bps_teaser.py
  bim2sim/project.py
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

manually add pydantic setting to sim_settings
  bim2sim/sim_settings.py
  bim2sim/tasks/base.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

activate/use pydantic setting
  bim2sim/sim_settings.py
  bim2sim/tasks/base.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

change setting default implementation
  bim2sim/sim_settings.py
  bim2sim/tasks/base.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Addon Functional
  bim2sim/kernel/decision/tcp_decisionhandler.py
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/examples/e1_simple_project_hvac_aixlib_tcp.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

correct p_set of ThermalTransmittance
  bim2sim/elements/bps_elements.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

new+updated html generation, Fenestration issue, year 2100 max
  .gitignore
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/__init__.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/__init__.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_idf_postprocessing.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_run_simulation.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/fix_ep_html.py
  bim2sim/sim_settings.py
  bim2sim/tasks/bps/enrich_use_cond.py
  bim2sim/utilities/common_functions.py
  pyproject.toml
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

pydantic settings are now working as expected; remove notes
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e1_simple_project_bps_teaser.py
  bim2sim/project.py
  bim2sim/sim_settings.py
  bim2sim/tasks/base.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

add NumberSettingPydantic
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

add ChoiceSetting
  bim2sim/sim_settings.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

Add setting for total iterations
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/sim_settings.py
  bim2sim/plugins/PluginOpenFOAM/bim2sim_openfoam/task/init_openfoam_setup.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

changed insulation parameters according to BKI
  bim2sim/assets/enrichment/material/TypeElements_IWU.json
  bim2sim/assets/enrichment/material/TypeElements_KFW.json
Due: none

Use EXTRA_REQUIREMENTS_PIP to install all plugins for doc generation
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

use correct script
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

dont use eval-rst
  docs/source/developer-guide.md
  docs/source/developer-guide.rst
  docs/source/developer-guide/doc-utilities.rst
Due: none

dont use myst
  docs/source/conf.py
  pyproject.toml
Due: none

fix #
  docs/source/developer-guide.rst
  docs/source/developer-guide/doc-utilities.rst
Due: none

revert changes, change log-level, fix main section
  bim2sim/utilities/check_docstrings.py
  docs/source/conf.py
  docs/source/developer-guide.md
  docs/source/developer-guide.rst
  docs/source/developer-guide/doc-utilities.md
  docs/source/developer-guide/doc-utilities.rst
  pyproject.toml
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

fix bad list
  bim2sim/elements/mapping/attribute.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

fix bad lists and logger
  bim2sim/elements/mapping/condition.py
  bim2sim/tasks/bps/disaggr_creation.py
  bim2sim/tasks/hvac/connect_elements.py
  docs/source/conf.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

make order better and fix some more doc
  .gitlab-ci.yml
  bim2sim/elements/base_elements.py
  bim2sim/elements/mapping/finder.py
  bim2sim/utilities/pyocc_tools.py
  bim2sim/utilities/svg_utils.py
  docs/source/developer-guide/testing.md
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:energyplus_workshop, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA, pylint

add md content to startpage of docs
  docs/source/index.rst
Due: none

add m2r2
  docs/source/conf.py
Due: none

include README.md
  README.md
  docs/source/conf.py
  docs/source/index.rst
Due: none

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:energyplus_workshop: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  test_Base: any of: bim2sim/**/*.py
  test_EP: any of: bim2sim/**/*.py
  test_EP_regression: any of: bim2sim/**/*.py
  test_TEASER: any of: bim2sim/**/*.py
  test_TEASER_regression: any of: bim2sim/**/*.py
  test_CFD: any of: bim2sim/**/*.py
  test_AixLib: any of: bim2sim/**/*.py
  test_LCA: any of: bim2sim/**/*.py
  pylint: any of: bim2sim/**/*.py
