Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:cfd, build_tool:teaser, build_tool:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
  build_tool:aixlib: any of: bim2sim/plugins/PluginAixLib/*
  test_Base: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_EP: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_EP_regression: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_TEASER: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_TEASER_regression: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_CFD: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_AixLib: any of: bim2sim/**/*.py, .gitlab-ci.yml
  test_LCA: any of: bim2sim/**/*.py, .gitlab-ci.yml

try to seperate pipelines of MR and push
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

further testing with simple pipeline
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

start fresh sphinx setup: 1st ver. conf.py
  docs/source/conf.py
Due: none

add debug stage to get variables
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

correct event for merge requests
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

Update shading control within idf validity check, remove unavailable fenestration from shading control
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

Add regression test for EnergyPlus
  bim2sim/plugins/PluginComfort/test/regression/test_comfort.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

just run tests always
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

finish test of heat ports
  bim2sim/elements/base_elements.py
  bim2sim/plugins/PluginAixLib/test/unit/tasks/test_export.py
  test/unit/elements/helper.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

start total model export implementation for spawn
  bim2sim/assets/templates/modelica/tmplSpawnTotalModel.txt
  bim2sim/elements/hvac_elements.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/examples/e2_simple_project_bps_spawn.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/models/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_building.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_total.py
  bim2sim/sim_settings.py
  bim2sim/utilities/pyocc_tools.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

fix yml
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

add todos
  bim2sim/tasks/bps/resolve_type_mismatch.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

cleanup yml file
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

Test improved template
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA

add sim_setting to deactivate fixing of types based on SB internal/external
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e1_simple_project_bps_teaser.py
  bim2sim/plugins/PluginTEASER/test/regression/create_regression_results.py
  bim2sim/plugins/PluginTEASER/test/regression/test_teaser.py
  bim2sim/sim_settings.py
  bim2sim/tasks/bps/resolve_type_mismatch.py
Due: test_Base, test_EP, test_EP_regression, test_TEASER, test_TEASER_regression, test_CFD, test_AixLib, test_LCA
