Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:cfd, build_tool:teaser

build_env:master:
  image: docker:latest
  stage: build-env
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:master -f envBase.Dockerfile .
  ...

build_env:development:
  image: docker:latest
  stage: build-env
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:development -f envBase.Dockerfile .
  ...

build_env:energyplus:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:cfd:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:cfd -f bim2sim/plugins/PluginCFD/envCFD.Dockerfile .
  ...

build_env:teaser:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:teaser -f bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile .
  ...

build_tool:cfd:
  image: docker:latest
  stage: build-tool
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/tool:cfd -f bim2sim/plugins/PluginCFD/cfd.Dockerfile .
  ...

build_tool:teaser:
  image: docker:latest
  stage: build-tool
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/tool:teaser -f bim2sim/plugins/PluginTEASER/teaser.Dockerfile .
  ...

add teaser dymola image
  .gitlab-ci.yml
  bim2sim/plugins/PluginTEASER/envTEASER-dymola.Dockerfile
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:teaser

add credentials to use dymola docker from git.rwth-aachen.de
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

test regression with dymola
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

fix typo
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

fix regression result and update useconditions (heating_profile had one entry too much, 25 instead 24)
  bim2sim/assets/enrichment/usage/UseConditions.json
  bim2sim/assets/regression_results/bps/AC20-FZK-Haus/TEASER/AC20FZKHaus_FZKHaus_FZKHaus.txt
Due: none

run only the regression test for testing purpose
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
Due: none

fix heating and cooling profile length (24 but until now was 25)
  bim2sim/assets/enrichment/usage/UseConditionsFM_ARC_DigitalHub_fixed002.json
  bim2sim/assets/enrichment/usage/UseConditionsFM_ARC_DigitalHub_with_SB89.json
  bim2sim/assets/enrichment/usage/UseConditionsFM_ARC_DigitalHub_with_SB_neu.json
  bim2sim/kernel/aggregation.py
Due: none

update gitignore and add submodule correctly
  .gitignore
  .gitmodules
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
Due: none

Update FZK debug answers
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
Due: none

change paths for reference results
  bim2sim/assets/regression_results/bps/ep_diff.config
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
Due: none

add tests again
  .gitlab-ci.yml
  bim2sim/plugins/PluginTEASER/test/integration_test/create_regression_results.py
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

fix wrong json in assets
  bim2sim/assets/enrichment/usage/UseConditionsFM_ARC_DigitalHub_fixed002.json
  bim2sim/assets/enrichment/usage/UseConditionsFM_ARC_DigitalHub_with_SB89.json
  bim2sim/assets/enrichment/usage/UseConditionsFM_ARC_DigitalHub_with_SB_neu.json
Due: none

use dymola teaser image for normal teaser tests until regression and integration tests are seperated
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

fix test for heating and cooling profiles
  test/unit/utilities/test_common_functions.py
Due: none

temp fix to run regression tests correctly
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

First full draft of FZK-Haus regression test
  bim2sim/assets/regression_results/bps/AC20-FZK-Haus/EnergyPlus/decisions.json
  bim2sim/assets/regression_results/bps/AC20-FZK-Haus/EnergyPlus/setup.txt
Due: none

Add regressiontest for SB89 and update other regression tests. Adds setups for regression tests
  bim2sim/__init__.py
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_fixed002/EnergyPlus/decisions.json
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_fixed002/EnergyPlus/setup.txt
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/decisions.json
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/setup.txt
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
Due: none

Fix path for regression results
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
Due: none

finalize regression tests for teaser
  .gitlab-ci.yml
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
  bim2sim/plugins/PluginTEASER/test/regression_test/__init__.py
  bim2sim/plugins/PluginTEASER/test/regression_test/create_regression_results.py
  bim2sim/plugins/PluginTEASER/test/regression_test/test_regression.py
  bim2sim/utilities/test.py
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

fix fall back profiles with 24 instead 25 entries
  bim2sim/kernel/elements/bps.py
Due: none

update ci config
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
Due: none

make removal of log files fale safe
  bim2sim/plugins/PluginTEASER/test/regression_test/test_regression.py
Due: none

make removal of log files fale safe, again.
  bim2sim/plugins/PluginTEASER/test/regression_test/test_regression.py
Due: none

bundle usage decisions to a bunch and enhance documentation
  bim2sim/task/bps/enrich_use_cond.py
  bim2sim/task/bps/prepare.py
Due: none

Update Regression-test results for FullExterior Solar Distribution. Change DH_with_SB89 to DesignDay Regression test only (speedup)
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/backup_annual/decisions.json
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/backup_annual/setup.txt
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/decisions.json
  bim2sim/assets/regression_results/bps/FM_ARC_DigitalHub_with_SB89/EnergyPlus/setup.txt
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_run_simulation.py
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
Due: none

Always save decisions.
  bim2sim/project.py
Due: none

reduce number of decision for usage and implement generic reduce function
  bim2sim/decision/__init__.py
  bim2sim/task/bps/enrich_use_cond.py
Due: none

remove not used answer
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
Due: none

create base class for BPS testing
  test/unit/kernel/task/test_enricht_use_cond.py
Due: none

create base class for bps testing
  test/unit/kernel/aggregation/test_aggregation.py
  test/unit/kernel/aggregation/test_consumer.py
  test/unit/kernel/aggregation/test_generator.py
  test/unit/kernel/aggregation/test_parallelpumps.py
  test/unit/kernel/aggregation/test_pipestrand.py
  test/unit/kernel/aggregation/test_underfloorheating.py
  test/unit/kernel/helper.py
  test/unit/kernel/hvac/test_hvacgraph.py
  test/unit/kernel/task/test_dead_ends.py
  test/unit/kernel/task/test_enricht_use_cond.py
  test/unit/kernel/task/test_expansiontank.py
  test/unit/kernel/test_attribute.py
Due: none

start implementation of generic BPS tests
  bim2sim/kernel/elements/bps.py
  test/unit/kernel/helper.py
  test/unit/kernel/task/test_enricht_use_cond.py
Due: none

Move Regression Tests to new package within plugin
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
  bim2sim/plugins/PluginEnergyPlus/test/regression_test/__init__.py
  bim2sim/plugins/PluginEnergyPlus/test/regression_test/test_regression.py
  bim2sim/utilities/test.py
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

provide docstrings for calc_orientation function
  bim2sim/kernel/element.py
  bim2sim/kernel/elements/bps.py
Due: none

fix typing problem in local setup
  bim2sim/task/hvac/hvac.py
Due: none

refactor EnrichUseConditions method structure + add unittest for enrich_usages()
  bim2sim/task/bps/enrich_use_cond.py
  test/unit/kernel/helper.py
  test/unit/kernel/task/test_enricht_use_cond.py
Due: none

add two more tests for new get_reduced_bunch() function
  test/unit/test_decision.py
Due: none

remove current lod setup to check if there is any use of them
  bim2sim/task/hvac/hvac.py
  bim2sim/workflow.py
Due: none

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
