Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:master, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser, build_tool:cfd, build_tool:teaser

build_env:master:
  image: docker:latest
  stage: build-env
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:master -f envBase.Dockerfile .
  ...

build_env:development:
  image: docker:latest
  stage: build-env
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:development -f envBase.Dockerfile .
  ...

build_env:energyplus:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:cfd:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:cfd -f bim2sim/plugins/PluginCFD/envCFD.Dockerfile .
  ...

build_env:teaser:
  image: docker:latest
  stage: build-env-plugins
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/environment:teaser -f bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile .
  ...

build_tool:cfd:
  image: docker:latest
  stage: build-tool
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/tool:cfd -f bim2sim/plugins/PluginCFD/cfd.Dockerfile .
  ...

build_tool:teaser:
  image: docker:latest
  stage: build-tool
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - docker build -t $CI_REGISTRY/tool:teaser -f bim2sim/plugins/PluginTEASER/teaser.Dockerfile .
  ...

First attempt to fix pipelines.
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
Due: none

add first integration of energyplusregressiontool
  bim2sim/assets/regression_results/bps/ep_diff.config
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_run_simulation.py
  bim2sim/plugins/PluginEnergyPlus/requirements.txt
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
Due: build_env:energyplus

add energyplusregressiontool to requirements to build new image for EP
  bim2sim/plugins/PluginEnergyPlus/requirements.txt
Due: build_env:energyplus

dummy test commit
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

finish first version of regression test for energyplus
  bim2sim/plugins/PluginEnergyPlus/test/integration_test/test_integration.py
Due: none

delete docopt from requirements for testing purpose
  requirements.txt
Due: build_env:master, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Update requirements.txt
  requirements.txt
Due: build_env:master, build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

update to python 3.9
  envBase.Dockerfile
Due: build_env:master, build_env:development

Update envBase.Dockerfile
  envBase.Dockerfile
Due: build_env:master, build_env:development

test ci with mtu value
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

update services to prevent bug with kuberenets runner and pip installs
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

test inherit keyword for service to reduce redundancy
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

add buildingslibrary interface
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

- typing and comments in HVAC task
  bim2sim/task/hvac/check_ifc.py
  bim2sim/task/hvac/dead_ends.py
  test/unit/kernel/aggregation/test_generator.py
  test/unit/kernel/task/test_dead_ends.py
Due: none

- fixed import of HvacGraph in task\HVAC\dead_ends.py
  bim2sim/task/hvac/dead_ends.py
Due: none

fix units for material and internal gains
  bim2sim/kernel/element.py
Due: none

fix units for internal gains
  bim2sim/kernel/elements/bps.py
Due: none

fix units for export
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/models/__init__.py
Due: none

basic functionality works now for regression test, but no real regression is done until now
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
Due: none

update requrementx (current teaser dev + buildingspy)
  bim2sim/plugins/PluginTEASER/requirements.txt
Due: build_env:teaser, build_tool:teaser

- add typing and docstrings in hvac task
  bim2sim/task/common/common.py
  bim2sim/task/hvac/check_ifc.py
  bim2sim/task/hvac/dead_ends.py
  bim2sim/task/hvac/expansiontanks.py
  bim2sim/task/hvac/hvac.py
Due: none

corrected typos
  bim2sim/task/hvac/check_ifc.py
  bim2sim/task/hvac/expansiontanks.py
Due: none

- add typing hvac task
  bim2sim/task/hvac/expansiontanks.py
  bim2sim/task/hvac/fixports.py
  bim2sim/task/hvac/hvac.py
Due: none

- code formatting, typing and commenting
  bim2sim/task/hvac/__init__.py
  bim2sim/task/hvac/fixports.py
  bim2sim/task/hvac/hvac.py
Due: none

integrated the HKESim plugin
  bim2sim/plugins/PluginHKESim/README.md
  bim2sim/plugins/PluginHKESim/bim2sim_hkesim/__init__.py
  bim2sim/plugins/PluginHKESim/bim2sim_hkesim/models/__init__.py
  bim2sim/plugins/PluginHKESim/requirements.txt
  bim2sim/plugins/PluginHKESim/test/test_hvac.py
Due: none

add working regression test setup with new buildingspy requirement
  bim2sim/assets/regression_results/bps/AC20-FZK-Haus/TEASER/AC20FZKHaus_FZKHaus_FZKHaus.txt
  bim2sim/plugins/PluginTEASER/requirements.txt
  bim2sim/plugins/PluginTEASER/test/integration_test/test_integration.py
Due: build_env:teaser, build_tool:teaser

unit bugfix
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

Add unit conversions for energyplus plugin
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

fix debug run for energyplus
  bim2sim/__init__.py
Due: none

add some documentation for attributes
  bim2sim/kernel/attribute.py
  docs/source/attribute.md
Due: none

further work on documentation of attribute
  docs/source/attribute.md
  docs/source/index.rst
Due: none

some further documentation
  bim2sim/kernel/element.py
  docs/source/attribute.md
Due: none

rename BIM2SIM to bim2sim
  docs/source/index.rst
Due: none

Documentation attribute
  bim2sim/kernel/attribute.py
  bim2sim/kernel/element.py
  docs/source/attribute.md
  docs/source/index.rst
Due: none

further documentation
  docs/source/attribute.md
  docs/source/index.rst
Due: none

add dymola image
  .gitlab-ci.yml
  envBaseDymola.Dockerfile
Due: build_env:development, build_env:energyplus, build_env:cfd, build_env:teaser

Path conditions:
  build_env:master: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
