Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:cfd, build_tool:teaser, build_tool:aixlib

Path conditions:
  build_env:main: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER-dymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
  build_tool:aixlib: any of: bim2sim/plugins/PluginAixLib/*

update gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Rename plot keys for comfort plots
  bim2sim/plugins/PluginComfort/bim2sim_comfort/data/rename_plot_keys.json
  bim2sim/plugins/PluginComfort/bim2sim_comfort/task/plot_comfort_results.py
  bim2sim/sim_settings.py
Due: none

update CI for comfort tests
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Update logging, add sim setting for plotting and update tests and examples
  bim2sim/plugins/PluginComfort/bim2sim_comfort/examples/e1_simple_project_comfort_energyplus.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/task/create_result_df.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/task/plot_comfort_results.py
  bim2sim/plugins/PluginComfort/test/integration/test_comfort.py
  bim2sim/plugins/PluginComfort/test/integration/test_useage.py
  bim2sim/sim_settings.py
Due: none

update CI for testing
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix return when simulation is deactivated in sim settings
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/task/simulate_dymola_ebcpy.py
Due: none

Update naming of space usage (remove commas)
  bim2sim/plugins/PluginComfort/bim2sim_comfort/task/ep_comfort_settings.py
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

add default paths for testing
  bim2sim/plugins/PluginComfort/test/integration/test_comfort.py
Due: none

try to fix build errors in CI
  envBase.Dockerfile
  envBaseDymola.Dockerfile
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

introduce sim_setting for create_plots
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/create_result_df.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e3_load_teaser_simulation_results.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/task/create_result_df.py
  bim2sim/sim_settings.py
  bim2sim/tasks/bps/plot_results.py
Due: none

fix return statement if no plots are created
  bim2sim/tasks/bps/plot_results.py
Due: none

add back CheckIFC task
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/__init__.py
Due: none

add docstring for SerializedElement [skip ci]
  bim2sim/elements/base_elements.py
Due: none

add min_space_area as parameter to floorplan function [skip-ci]
  bim2sim/tasks/bps/plot_results.py
Due: none

force image builds
  .gitlab-ci.yml
  requirements.txt
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix typo [skip-c]
  bim2sim/elements/base_elements.py
Due: none

remove graph.plot() call in test
  test/unit/elements/aggregation/test_underfloorheating.py
Due: none

remove graph.plot() call in test
  test/unit/elements/aggregation/test_pipestrand.py
Due: none

force build image with new requirements
  .gitlab-ci.yml
  requirements.txt
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Update requirements.txt
  requirements.txt
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

add content from development branch
  docs/source/conf.py
Due: none

fresh start with only some items
  docs/source/index.rst
Due: none
