Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:cfd, build_tool:teaser, build_tool:aixlib

Path conditions:
  build_env:main: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER-dymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
  build_tool:aixlib: any of: bim2sim/plugins/PluginAixLib/*

add config stuff from development branch
  docs/source/conf.py
  docs/source/index.rst
Due: none

correct typo > find docu for HKESim
  docs/source/user-guide.md
Due: none

add concepts to advanced user guide
  docs/source/advanced-user-guide/concepts.md
  docs/source/advanced-user-guide/concepts/domains.md
  docs/source/advanced-user-guide/concepts/playground.md
  docs/source/advanced-user-guide/concepts/plugins.md
Due: none

make code and docu utilities to separate sections
  docs/source/index.rst
Due: none

force image build
  .gitlab-ci.yml
  requirements.txt
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

add docu generate plugin visualization
  docs/source/developer-guide.md
  docs/source/developer-guide/doc-utilities.md
  docs/source/developer-guide/doc-utilities/gen_plugin_visu.md
  docs/source/user-guide/PluginTemplate.md
Due: none

add all tests again to test new image
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

build env images
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

add howto run sphinx local
  docs/source/developer-guide/doc-utilities.md
  docs/source/developer-guide/doc-utilities/gen_plugin_visu.md
  docs/source/developer-guide/doc-utilities/run_sphinx_local.md
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Fix regression tests
  bim2sim/plugins/PluginComfort/test/regression/test_comfort.py
Due: none

Add initial documentation of PluginComfort.md
  docs/source/user-guide/PluginComfort.md
Due: none

Delete bim2sim/plugins/PluginComfort/bim2sim_comfort/MDPI_climate_change directory
  bim2sim/plugins/PluginComfort/bim2sim_comfort/MDPI_climate_change/FZK-Example_all_comfort.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/MDPI_climate_change/__init__.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/MDPI_climate_change/visualize_inputs.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/MDPI_climate_change/visualize_results.py
  bim2sim/plugins/PluginComfort/bim2sim_comfort/MDPI_climate_change/weather_data/TRY2015_507931060546_Jahr.epw
  bim2sim/plugins/PluginComfort/bim2sim_comfort/MDPI_climate_change/weather_data/TRY2045_507931060546_Jahr.epw
Due: none

update to new ifcopenshell and fix requirements to build stable images
  .gitlab-ci.yml
  bim2sim/elements/mapping/ifc2python.py
  bim2sim/tasks/bps/sb_2b_generation.py
  bim2sim/tasks/bps/sb_correction.py
  envBase.Dockerfile
  requirements.txt
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

update to new ifcopenshell and fix requirements to build stable images
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

small correction of default values
  docs/utilities/plugindiagram/template_mermaid.py
Due: none

add pylintrc from google style guide for python
  pylintrc
Due: none

temp downgrade to occ 7.4.1 as this installs much quicker
  envBase.Dockerfile
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

bump occ back to 7.7.0 as slow install is due to something else [skip-ci]
  envBase.Dockerfile
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Add sim_setting for natural ventilation
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
  bim2sim/sim_settings.py
Due: none

try to install occ first
  envBase.Dockerfile
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

just run tests to test fresh image
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

try to run tests with new images
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

correct line indentations
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Update documentation
  docs/source/user-guide/PluginComfort.md
Due: none

skip tests to build new plugin images
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

Update documentation
  docs/source/user-guide.md
Due: none

try tests again
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

run tests only
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

print out versions via pip list to debug
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

force scipy version directly in TEASER tests job
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

add all CI jobs again
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib
