Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:cfd, build_tool:teaser, build_tool:aixlib

build_env:main:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:development:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:dymola:
  image: docker:24.0.5
  stage: build-env
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME_DYMOLA -p $CI_DEPLOY_TOKEN_PASSWORD_DYMOLA $CI_REGISTRY_LOGIN_DYMOLA
  script:
  ...

build_env:energyplus:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:cfd:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:teaser:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:teaser-dymola:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_env:aixlib:
  image: docker:24.0.5
  stage: build-env-plugins
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_tool:cfd:
  image: docker:24.0.5
  stage: build-tool
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

build_tool:teaser:
  image: docker:24.0.5
  stage: build-tool
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  ...

Fixed bug
  bim2sim/project.py
Due: none

Update
  bim2sim/project.py
Due: none

Update
  bim2sim/assets/enrichment/material/MaterialTemplates.json
  bim2sim/assets/enrichment/material/TypeElements_IWU.json
  bim2sim/assets/enrichment/material/TypeElements_KFW.json
  bim2sim/assets/enrichment/material/TypeElements_TABULA_DE.json
  bim2sim/assets/enrichment/material/TypeElements_TABULA_DK.json
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/examples/e2_complex_project_teaser.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/task/create_teaser_prj.py
  bim2sim/sim_settings.py
  bim2sim/tasks/bps/enrich_material.py
  bim2sim/utilities/common_functions.py
Due: none

start implementation of hvac into spawn model
  bim2sim/elements/graphs/hvac_graph.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/examples/e2_simple_project_bps_spawn.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_total.py
Due: none

add first example for radiator in building
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/examples/e3_single_radiator_in_building.py
Due: none

use checksum itself for global key instead its class name
  bim2sim/elements/mapping/finder.py
Due: none

Removed redundant patter_ifc_type in ExpansionTank; removed leading whitespace in docstring
  bim2sim/elements/hvac_elements.py
  bim2sim/export/modelica/__init__.py
Due: none

Renamed "Model" to "ModelicaModel" and "Instance" to "ModelicaElement"
  bim2sim/assets/templates/modelica/tmplModel.txt
  bim2sim/export/modelica/__init__.py
  bim2sim/export/modelica/standardlibrary.py
  bim2sim/plugins/PluginAixLib/bim2sim_aixlib/models/__init__.py
  bim2sim/plugins/PluginAixLib/test/integration/test_aixlib.py
  bim2sim/plugins/PluginHKESim/bim2sim_hkesim/models/__init__.py
  bim2sim/plugins/PluginHKESim/test/integration/test_hkesim.py
  bim2sim/tasks/hvac/export.py
  test/unit/tasks/hvac/test_export.py
Due: none

test to remove dependant_attribute functionality
  bim2sim/elements/mapping/attribute.py
Due: none

test to remove dependant_attribute functionality
  bim2sim/elements/aggregation/hvac_aggregations.py
  bim2sim/elements/bps_elements.py
  bim2sim/elements/hvac_elements.py
  bim2sim/elements/mapping/attribute.py
Due: none

remove dependant attribute functionality
  bim2sim/elements/aggregation/hvac_aggregations.py
  bim2sim/elements/bps_elements.py
  bim2sim/elements/hvac_elements.py
  bim2sim/elements/mapping/attribute.py
Due: none

start implementation of regression tests for modelica
  .gitignore
  .gitlab-ci.yml
  bim2sim/assets/templates/modelica/modelica_test_script
  bim2sim/assets/templates/modelica/package
  bim2sim/assets/templates/modelica/package_order
  bim2sim/assets/templates/modelica/tmplModel.txt
  bim2sim/export/modelica/__init__.py
  bim2sim/plugins/PluginAixLib/envAixLib-dymola.Dockerfile
  bim2sim/plugins/PluginAixLib/test/regression/__init__.py
  bim2sim/plugins/PluginAixLib/test/regression/create_regression_results.py
  bim2sim/plugins/PluginAixLib/test/regression/prepare_regression_tests.py
  bim2sim/plugins/PluginAixLib/test/regression/text_aixlib.py
  bim2sim/plugins/PluginComfort/test/regression/test_comfort.py
  bim2sim/plugins/PluginEnergyPlus/test/regression/test_energyplus.py
  bim2sim/sim_settings.py
  bim2sim/tasks/hvac/export.py
  bim2sim/utilities/common_functions.py
  bim2sim/utilities/test.py
  pyproject.toml
  requirements.txt
Due: build_env:main, build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib, build_tool:aixlib

test new regression setup for aixlib not as submodule
  .gitlab-ci.yml
  bim2sim/plugins/PluginTEASER/test/regression/prepare_regression_tests.py
  bim2sim/plugins/PluginTEASER/test/regression/test_teaser.py
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix path for repo download
  bim2sim/plugins/PluginAixLib/test/regression/prepare_regression_tests.py
  bim2sim/plugins/PluginTEASER/bim2sim_teaser/task/simulate_dymola_ebcpy.py
  bim2sim/plugins/PluginTEASER/test/regression/prepare_regression_tests.py
Due: none

install base requirements in every test
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

remove aixlib submodule
  .gitmodules
Due: none

try to install requirements for coverage job
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

fix test setup for hvac export with new regression_variables sim_setting
  bim2sim/tasks/hvac/export.py
  test/unit/tasks/hvac/test_export.py
Due: none

uncomment test aixlib regression until image exists
  .gitlab-ci.yml
Due: build_env:development, build_env:dymola, build_env:energyplus, build_env:cfd, build_env:teaser, build_env:teaser-dymola, build_env:aixlib

try using .txt ending for templates to solve coverage errors in CI
  bim2sim/assets/templates/modelica/modelica_test_script.txt
  bim2sim/assets/templates/modelica/package.txt
  bim2sim/assets/templates/modelica/package_order.txt
  bim2sim/export/modelica/__init__.py
  bim2sim/tasks/hvac/export.py
Due: none

try to omit templates fildes for coverage run
  pyproject.toml
Due: none

add .coveragerc file
  .coveragerc
Due: none

try to add specific config for coverage for html
  .coveragerc
Due: none

Path conditions:
  build_env:main: any of: envBase.Dockerfile, requirements.txt
  build_env:development: any of: envBase.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:dymola: any of: envBaseDymola.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:energyplus: any of: envBase.Dockerfile, bim2sim/plugins/PluginEnergyPlus/envEP.Dockerfile, bim2sim/plugins/PluginEnergyPlus/requirements.txt, requirements.txt, .gitlab-ci.yml
  build_env:cfd: any of: envBase.Dockerfile, bim2sim/plugins/PluginCFD/envCFD.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:teaser-dymola: any of: envBase.Dockerfile, bim2sim/plugins/PluginTEASER/requirements.txt, bim2sim/plugins/PluginTEASER/envTEASER.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_env:aixlib: any of: envBase.Dockerfile, bim2sim/plugins/PluginAixLib/requirements.txt, bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile, requirements.txt, .gitlab-ci.yml
  build_tool:cfd: any of: bim2sim/plugins/PluginCFD/*
  build_tool:teaser: any of: bim2sim/plugins/PluginTEASER/*
  build_tool:aixlib: any of: bim2sim/plugins/PluginAixLib/*
