Repository BIM2SIM/bim2sim: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

build:dev:py3.9:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - echo "Building image with python version:"
  ...

build:dev:py3.10:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - echo "Building image with python version:"
  ...

build:dev:py3.11:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - echo "Building image with python version:"
  ...

build:dev-dymola:py3.9:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME_DYMOLA -p $CI_DEPLOY_TOKEN_PASSWORD_DYMOLA $CI_REGISTRY_LOGIN_DYMOLA
  script:
  ...

build:dev-dymola:py3.10:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME_DYMOLA -p $CI_DEPLOY_TOKEN_PASSWORD_DYMOLA $CI_REGISTRY_LOGIN_DYMOLA
  script:
  ...

build:dev-dymola:py3.11:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME_DYMOLA -p $CI_DEPLOY_TOKEN_PASSWORD_DYMOLA $CI_REGISTRY_LOGIN_DYMOLA
  script:
  ...

build:dev-energyplus:py3.9:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - echo "Building image with python version:"
  ...

build:dev-energyplus:py3.10:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - echo "Building image with python version:"
  ...

build:dev-energyplus:py3.11:
  image: docker:24.0.5
  stage: build
  services:
  - name: docker:24.0.5-dind
    variables:
      HEALTHCHECK_TCP_PORT: '2376'
  before_script:
  - docker login -u $CI_DEPLOY_TOKEN_USERNAME -p $CI_DEPLOY_TOKEN_PASSWORD $CI_REGISTRY_LOGIN
  script:
  - echo "Building image with python version:"
  ...

reanrge docker build command because build-arg is ignored
  .gitlab-ci.yml
  micromamba.Dockerfile
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

reanrge docker build command because build-arg is ignored
  micromamba.Dockerfile
  micromambaDymola.Dockerfile
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

fix dymola builds python version
  micromambaDymola.Dockerfile
Due: build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11

add -i server for pypi again because for some reason it fails/takes endless without
  micromamba.Dockerfile
  micromambaDymola.Dockerfile
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

make sure base image is build before ep image is build
  .gitlab-ci.yml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

try to make build compatible with python 3.9
  pyproject.toml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

add tests for plugin comfort and move build job back to end of pipeline and delete python 3.9 as not compatible
  .gitlab-ci.yml
  pyproject.toml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

add tests for plugin comfort and move build job back to end of pipeline and delete python 3.9 as not compatible
  .gitlab-ci.yml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

try to build image for PluginAixlib
  .gitlab-ci.yml
  Dockerfile
  Dymola.Dockerfile
  EnergyPlus.Dockerfile
  bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile
  bim2sim/plugins/PluginAixLib/aixlib.Dockerfile
  bim2sim/plugins/PluginAixLib/envAixLib.Dockerfile
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

fix syntax in pyproject.toml
  pyproject.toml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

adjust image tag
  .gitlab-ci.yml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

make sure to activate mamba in dockerfile
  bim2sim/plugins/PluginAixLib/PluginAixLib.Dockerfile
Due: none

build plugin image for EP as well and add other dockerfiles already
  .gitlab-ci.yml
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
  bim2sim/plugins/PluginHKESim/PluginHKESim.Dockerfile
  bim2sim/plugins/PluginLCA/PluginLCA.Dockerfile
  bim2sim/plugins/PluginTEASER/PluginTEASER.Dockerfile
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

dont use existing ep build as this will increase building time
  .gitlab-ci.yml
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

add builds for the other plugin dev images
  .gitlab-ci.yml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

add jobs for main as well and move build job again to the end of pipeline
  .gitlab-ci.yml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

correct PluginEnergyplus base image
  bim2sim/plugins/PluginEnergyPlus/PluginEnergyPlus.Dockerfile
Due: none

fix PluginComfort regression test setup
  bim2sim/plugins/PluginComfort/test/regression/prepare_regression_tests.py
Due: none

dont use existing ep build as this will increase building time
  bim2sim/plugins/PluginComfort/PluginComfort.Dockerfile
Due: none

improve yml file
  .gitlab-ci.yml
Due: build:dev:py3.9, build:dev:py3.10, build:dev:py3.11, build:dev-dymola:py3.9, build:dev-dymola:py3.10, build:dev-dymola:py3.11, build:dev-energyplus:py3.9, build:dev-energyplus:py3.10, build:dev-energyplus:py3.11, build:main:py3.9, build:main:py3.10, build:main:py3.11

Improves the saving and export procedure of spawn model
  bim2sim/export/modelica/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_building.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_total.py
  bim2sim/tasks/hvac/export.py
Due: none

Further improvement in the saving and export procedure of spawn model
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/__init__.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_building.py
  bim2sim/plugins/PluginSpawn/bim2sim_spawn/tasks/export_spawn_total.py
  bim2sim/tasks/hvac/export.py
Due: none

Enable use of new custom usages
  bim2sim/utilities/common_functions.py
Due: none

Add diss examples
  diss/assets/ifc/__init__.py
  diss/assets/usages/UseConditionsComfort_AC20-FZK-Haus_diss.json
  diss/assets/usages/__init__.py
  diss/assets/usages/customUsages_AC20-FZK-Haus_diss.json
  diss/examples/01-bps/__init__.py
  diss/examples/01-bps/bps_FZK_SB55.py
  diss/examples/01-bps/bps_FZK_org.py
  diss/examples/02-cfd/__init__.py
  diss/examples/03-comfort/__init__.py
  diss/examples/04-climate/__init__.py
Due: none

Update max overheating infiltration computation and enable natural ventilation while cooling.
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

Allow custom usages that are not in common usages
  bim2sim/utilities/common_functions.py
Due: none

Add ifc files and examples for diss use cases
  diss/assets/ifc/AC20-FZK-Haus.ifc
  diss/assets/ifc/AC20-FZK-Haus_with_SB55.ifc
  diss/assets/weather/DEU_NW_Koln.Bonn.AP.105130_TMYx.2007-2021.epw
  diss/assets/weather/DEU_NW_Koln.Bonn.AP.105130_TMYx.2007-2021.stat
  diss/assets/weather/DEU_NW_Koln.Bonn.AP_EC-Earth3_ssp126_2050.epw
  diss/assets/weather/DEU_NW_Koln.Bonn.AP_EC-Earth3_ssp126_2080.epw
  diss/assets/weather/DEU_NW_Koln.Bonn.AP_EC-Earth3_ssp245_2050.epw
  diss/assets/weather/DEU_NW_Koln.Bonn.AP_EC-Earth3_ssp245_2080.epw
  diss/assets/weather/DEU_NW_Koln.Bonn.AP_EC-Earth3_ssp370_2050.epw
  diss/assets/weather/DEU_NW_Koln.Bonn.AP_EC-Earth3_ssp370_2080.epw
  diss/assets/weather/DEU_NW_Koln.Bonn.AP_EC-Earth3_ssp585_2050.epw
  diss/assets/weather/DEU_NW_Koln.Bonn.AP_EC-Earth3_ssp585_2080.epw
  diss/assets/weather/__init__.py
  diss/examples/01-bps/bps_FZK_SB55.py
  diss/examples/01-bps/bps_FZK_org.py
Due: none

Update examples and plots
  diss/examples/01-bps/bps_FZK_org.py
  diss/utils/__init__.py
  diss/utils/bps_plots.py
  diss/utils/create_result_df.py
  diss/utils/ep_utils.py
Due: none

Update variable names
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/create_result_df.py
  bim2sim/plugins/PluginEnergyPlus/bim2sim_energyplus/task/ep_create_idf.py
Due: none

Add final unit conversion to watthours
  bim2sim/elements/mapping/units.py
  diss/utils/create_result_df.py
Due: none

Path conditions:
  build:dev:py3.9: any of: micromamba.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev:py3.10: any of: micromamba.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev:py3.11: any of: micromamba.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-dymola:py3.9: any of: micromambaDymola.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-dymola:py3.10: any of: micromambaDymola.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-dymola:py3.11: any of: micromambaDymola.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-energyplus:py3.9: any of: micromambaEnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-energyplus:py3.10: any of: micromambaEnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:dev-energyplus:py3.11: any of: micromambaEnergyPlus.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main:py3.9: any of: micromamba.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main:py3.10: any of: micromamba.Dockerfile, pyproject.toml, .gitlab-ci.yml
  build:main:py3.11: any of: micromamba.Dockerfile, pyproject.toml, .gitlab-ci.yml
